$color-white: var(--surface-a);
.toolbar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #00a1de;
  color: white;
  font-weight: 600;
  font-size: 13px;
  padding: 0 71px;

  @media screen and (max-width: 768px) {
    padding: 0 8px;
  }

  .toolbar-textlogo::after {
    content: "SISTEMA DE GESTIÓN DE COMITÉS";
    font-size: 14px;

    @media screen and (max-width: 768px) {
      content: "SGC";
    }
  }

  span {
    // width: 224px;
    text-align: left;
    font-size: 13px;
    letter-spacing: 0.42px;
    color: #ffffff;
    // text-transform: uppercase;
    opacity: 1;
    font-weight: 400;
    padding: 0 0.5rem;
  }

  ::ng-deep .custom-avatar.p-avatar {
    margin: 0 9px;

    img {
      border: 2px solid #fff;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &-options {
    margin-left: auto !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.header-input-container {
  // width: 100% !important;  
  @media screen and(min-width: 768px) {
    width: 315px !important;  
  }
  transition: all 0.3s ease-in;
  input {
    border: none;
    background: transparent;
    color: white;
    outline: none;
    &::placeholder {
      font-size: 12px;
      color: white;
    }
    &:hover {
      transition: all 0.3s ease-in;
    }
  }
  &:hover {
    transition: all 0.3s ease-in;
    border: 1px solid white;
    border-radius: 5px;
  }

}

.pi-search::before {
  color: white;
}

.wh-color {
  color: $color-white;
}

::ng-deep.icon-header-size {
  .pi {
    font-size: 20px !important;
  }
}
  .searh {
    display: flex;    
  }  
  .searh_none {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;  
    }
  }