<!-- Toolbar -->
<div class="toolbar" role="banner">

    <!-- Button to open Sidebar -->
    <div class="p-d-flex p-ai-center">
        <button
            pButton
            pRipple
            type="button"
            icon="pi pi-bars"
            (click)="sideToogle()"
            class="p-button-rounded wh-color icon-header-size p-button-text">
        </button>
        <span class="toolbar-textlogo"></span>
    </div>
    
    <!-- notification - user - signout -->
    <div class="toolbar-options">

        <div class="p-mr-4 p-d-none p-d-md-block">
            <span for="">Perfil Activo:</span>
            <i class="pi pi-circle-on fz-8" [style.color]="'var(--green)'"></i>
            <span>Administrador</span>
        </div>

        <button
            pButton
            pRipple
            type="button"
            icon="pi pi-bell"
            class="p-button-rounded wh-color icon-header-size p-button-text">
        </button>

        <div class="p-d-flex p-ai-center">
            <p-avatar
                image="assets/images/img11.jpg"
                styleClass="custom-avatar"
                shape="circle"
                (click)="menu.toggle($event)">
            </p-avatar>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
        </div>

        <button
            pButton
            pRipple
            type="button"
            icon="pi pi-sign-out"
            routerLink="/login"
            class="p-button-rounded wh-color icon-header-size p-button-text">
        </button>

    </div>
</div>