.wrapper {
  transition: all 0.3s ease-in-out;

  @media screen and(min-width: 768px) { 
    margin-left: 24rem;
    margin-right: 4rem;
  }
  
  .content {
    width: 100%;
    margin-top: 60px;
    padding: 1rem;
  }
}



@media screen and(min-width: 768px) { 
  .close-sidevar {
     margin-left: 4rem;
  }  
}