.wrapper {
  margin-left: 24rem;
  transition: all 0.3s ease-in-out;
  margin-right: 4rem;

  .content {
    width: 100%;
    margin-top: 60px;
    padding: 1rem;
  }
}

.close-sidevar {
  margin-left: 4rem;
}