<section class="wallpaper">
    <div class="custom_grid">
        <div class="p-col-12 p-md-6 p-lg-4 p-xl-3 p-mr-auto p-ml-auto">
            <div class="custom_grid_login">
                <img src="assets/icons/calidda.svg" alt="calidda_logo" />
                <p>Inicia sesión</p>
                <span> Por favor, ingrese los datos solicitados </span>


                <form [formGroup]="loginForm" autocomplete="offs">
                    <!-- Formulario -->
                    <div class="p-fluid">
                        <!-- correo -->
                        <div class="p-field">
                            <label for="login" [ngClass]="{ 'is-invalid-text': submitted && g.login.errors }">Usuario</label>
                            <input type="text" pInputText class="form-control" formControlName="login" [ngClass]="{ 'is-invalid-input': submitted && g.login.errors }" oninput="this.value=this.value.trim()==''?'':this.value" />
                            <div *ngIf="submitted && g.login.errors != null">
                                <span class="p-error" *ngIf="g.login.errors.minlength">El usuario debe contener al menos un carácter.<br></span>
                                <span class="p-error" *ngIf="g.login.errors.required">El usuario es requerido.<br></span>
                            </div>
                        </div>

                        <!-- contraseña -->
                        <div class="p-field">
                            <label for="password" [ngClass]="{ 'is-invalid-text': submitted && g.password.errors }">Contraseña</label>
                            <input type="password" pInputText class="form-control" formControlName="password" [ngClass]="{ 'is-invalid-input': submitted && g.password.errors }" oninput="this.value=this.value.trim()==''?'':this.value" />
                            <div *ngIf="submitted && g.password.errors != null">
                                <span class="p-error" *ngIf="g.password.errors.minlength">La contraseña debe contener al menos un carácter.<br></span>
                                <span class="p-error" *ngIf="g.password.errors.required">La contraseña es requerido.<br></span>
                            </div>
                        </div>

                        <!-- captcha -->
                        <!-- <div class="p-d-flex p-jc-center p-m-4">
              <div class="g-recaptcha" data-sitekey="Your site key goes here"></div>
           </div> -->

                        <p-captcha siteKey="6Lf2XQkTAAAAANcvOwYqPxWL4iZDksFqHpS39GDA" (onResponse)="showResponse($event)"></p-captcha>

                        <div class="p-my-5">
                            <a class="link-password" routerLink="/reset" href="http://">¿Olvidaste tu contraseña?</a>
                        </div>

                        <!-- Button -->
                        <div>
                            <button pButton type="button" (click)="send()" label="Iniciar sesión"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>