//---login--------------------------------
.style-input-password {
  .p-inputtext {
    padding: 0.6rem 0.7rem;
  }
  i:last-of-type {
    color: black;
  }
}

// ---titulos ----------------------------
.p-custom {
  &-title {
    font-size: 16px;
    color: $color-darkblue;
    font-weight: 500;
  }
  &-text {
    font-size: 11px;
    font-weight: 300;
    opacity: 0.8;
    margin: 8px 0 20px;
  }

  &-content {
    background: #fff;
    padding: 21px 18px;
    border-radius: 5px;
  }

  &-btn {
    margin: 28px 0 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    p-button {
      margin: 0 4px;
    }
  }
}

//circle
.icon-mood {
  font-size: 8px;
  vertical-align: top;
  margin-top: 4px;
}

//buttons
.btn-group {
  .p-button,
  input,
  .field {
    margin: 0 0.3rem;
  }
}
.btn-group {
  margin: 0 -0.3rem;
  align-items: center;
}
.btn-group.success {
  .active {
    background: #3ad13c36;
    color: #0ac702;
    border: 0;
  }
}
.stylebtn {
  background: #cde8f2;
  color: #00a1de;
  .p-button {
    background: #cde8f2;
    color: #00a1de;
    &:hover {
      background: aliceblue;
      color: #00a1de;
      border-color: transparent;
    }
  }
}
.p-button {
  font-size: 13px;
}
.stylebtn:enabled:hover {
  background: aliceblue;
  color: #00a1de;
  border-color: transparent;
}
.stylebtn:enabled:active {
  background: aliceblue;
  color: #ffffff;
}
.p-button:enabled:focus {
  background: aliceblue;
  color: #00a1de;
}
.p-button-outlined.active {
  background: var(--info-color);
  color: #ffffff;
}
//end buttons

//file Uplod
.style-fileupload-1{
  width: 100%;
  background: transparent;
  color: black;
  border: 1px solid var(--info-color);
  padding: 2rem 1rem;
  border-radius: 1rem;
  justify-content: center;
  color: var(--info-color);
  &:hover {
    background: #0d90cb05 !important;
    border: 1px solid var(--info-color) !important;
    color: var(--info-color) !important;
  }
  .p-button-icon {
    display: none;
  }
}
.style-fileupload {
  .p-button.p-fileupload-choose {
    width: 100%;
    background: transparent;
    color: black;
    border: 1px solid var(--info-color);
    padding: 2rem 1rem;
    border-radius: 1rem;
    justify-content: center;
    color: var(--info-color);
    &:hover {
      background: #0d90cb05;
      border: 1px solid var(--info-color);
      color: var(--info-color);
    }
    .p-button-label {
      flex: inherit;
    }
  }
}
.p-fileupload .p-fileupload-content {
  display: none;
}
.p-fileupload .p-fileupload-buttonbar {
  border: 0;
}
//End file Uplod
.style-chip-1 {
  .p-inputtext {
    border: 0;
    background: transparent;
  }
}
.p-chips
  .p-chips-multiple-container
  .p-chips
  .p-chips-multiple-container
  .p-chips-token {
  font-family: sans-serif;
}

//messages
.style-message {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;

  .p-message {
    margin: 0;
    border-radius: unset;

    .p-message-wrapper {
      padding: 0.5rem 1.5rem;
    }

    .p-message-icon {
      flex: 0.5;
      text-align: end;
      color: #fff;
    }
    .p-message-summary {
      color: #fff;
      font-weight: 400;
    }
    .p-message-detail {
      color: #fff;
      font-weight: 500;
    }
    .p-message-close {
      color: #fff;
    }

    &.p-message-success {
      background: #2ecc71;
      opacity: 0.9;
      border-width: 0 0 0 0;
    }
    &.p-message-error {
      background: #f00248;
      opacity: 0.9;
      border-width: 0 0 0 0;
    }
    &.p-message-info {
      background: #1c9cfc;
      opacity: 0.9;
      border-width: 0 0 0 0;
    }
    &.p-message-warning {
      background: #ffa602;
      opacity: 0.9;
      border-width: 0 0 0 0;
    }
  }
}
//end messages

// p-toast
.style-toast {
  width: 100% !important;
  top: 60px !important;
  left: 0 !important;
  right: 0 !important;

  .p-toast-message {
    border-radius: 0;
    margin: 0;
  }

  .p-toast-message .p-toast-message-content {
    padding: 0.8rem;
  }
  .p-toast-message-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: initial !important;
  }
  .p-toast-summary {
    margin-right: 0.5rem;
  }
  .p-toast-message .p-toast-message-content {
    display: flex;
    align-items: center;
  }
  .p-toast-message .p-toast-message-content .p-toast-detail {
    margin: 0;
  }
  .p-toast-message-icon {
    margin-left: auto;
  }
  .p-toast-message .p-toast-icon-close {
    margin-left: auto;
  }

  .p-toast-message.p-toast-message-success .p-toast-message-icon,
  .p-toast-message.p-toast-message-success .p-toast-icon-close {
    color: #ffff;
  }
  .p-toast-message.p-toast-message-success {
    background: #2ecc71;
    color: #ffff;
  }
  .p-toast-message.p-toast-message-error {
    background: #ffbfc6;
  }
}

//avatar
.style-avatar-profile.p-avatar-xl {
  width: 7rem !important;
  height: 7rem !important;
}
.style-hidden {
  visibility: hidden !important;
  height: 0 !important;
}

//cards
.style-card-comite {
  background-image: url(./../images/comite.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 13px;
  position: relative;

  .p-card-header {
    color: #ffffff;
  }
  .number-meet {
    position: absolute;
    top: 30px;
    right: 16px;
  }
  .p-card-footer {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
    padding: 0.6rem 1rem;
    background: #53b8de;
    color: #ffffff;
    border-radius: 0 0 0.3rem 0.3rem;
  }
}

//radio button
.p-radiobutton-label {
  margin-bottom: 5px;
}

//chips
.chip-info.p-chip {
  background: #3ad13c36;
  color: #0ac702;
  font-weight: 500;
  .p-chip-text {
    line-height: 1.2;
    margin-bottom: 12px;
  }
}

//panels
.p-panel {
  box-shadow: none;
}
.p-panel .p-panel-header .p-panel-header-icon {
  color: var(--info);
  span {
    font-size: 25px;
    &:hover {
      color: var(--info);
    }
  }
}

.stylePanel-profile {
  .p-menuitem-link .p-menuitem-text {
    font-size: 13px;
  }
  .p-menuitem-link .p-menuitem-icon {
    font-size: 20px;
    color: #2E4259;
  }
  .ink:not(.p-disabled):hover {
    background: #E7F6FB;
  }
  .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: #00A1DE;
  }
  .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
    color: #00A1DE;
  }
}

.hx-bar {
  padding: 0.2rem;
  width: 30px;
  border-radius: 10px;
}
.hx-bar.red {
  background: var(--red);
}
.hx-bar.orange {
  background: var(--orange);
}
.hx-bar.green {
  background: var(--green);
}

.appearance-tab {
  background: #00a1de;
  width: fit-content;
  color: #ffffff;
  padding: 10px 18px;
  margin-top: 11px;
  margin-bottom: -15px;
  border-radius: 5px 5px 0 0;
}

// p-tags
.p-tag {
  padding: 0.25rem 1rem;
}
.p-tag.p-tag-success {
  background: #87d74145;
  color: #87d741;
}
.p-tag.p-tag-warning {
  background: #ebb31b42;
  color: #ebb31b;
}
//End p-tags

.bg_alert {
  background: #ff000029;
  color: #e83232bf;
  border-left: 12px solid #e83232bf;
}

.bg_succes {
  background: #00800029;
  color: #008000bf;
  border-left: 12px solid #008000bf;
}

.style_check {
  background: #69da00;
  color: #ffffff;
  font-size: 10px;
  padding: 4px;
  font-weight: 600;
  border: none;
}
.style_format {
  color: #00a1de;
  background: #f6f7f8;
  padding: 3px 12px;
  border-radius: 5px;
  cursor: pointer;
  
  span {
    transform: rotate(-45deg);
    font-size: 18px;
  }
}


.p-hide-indicators{
  .p-carousel-indicators{
    display: none !important;
  }
}