.p-dialog {
    .p-dialog-content {
        max-height: 90% !important;

        .p-inputgroup-addon {
            padding: 0.2rem;
            background: #F6F7F9;
        }
    }
    .p-dialog-header {
        align-items: start;
    }
    .p-dialog-header .p-dialog-title {
        width: 100%;
        text-align: center;
        padding: 1.5rem 0;
        color: var(--info);
    }
}
.p-dialog-mask.p-component-overlay {
    background-color: rgb(0 0 0 / 83%);
}

.p-button {
    min-width: 105px;
}


.style-dialog-confirmation {
    .dialog-content {
        text-align: center;
      
        i {
          color: #87d741;
          font-size: 72px;
        }
        h3 {
          color: #00a1de;
          font-size: 22px;
          padding: 20px 0;
        }
        p {
          color: #2e4259;
        }
      
      }
      .p-dialog-footer {
        text-align: center;
      }
}
