.br-05 {
    border-radius: 0.5rem !important;
}

.avatar {
    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
}

.stripeed {
    tbody > tr:nth-child(odd) {
        background: #f4f4f4;
    }
    table > tbody > tr {
        .p-button-text {
            color: #3c3c3c; 
        }
    }
    .p-paginator-bottom {
        .p-paginator-current {
          flex: 1;
          justify-content: flex-end;
          padding: 0;
        }
    }  
}

.style-table-comite {   

    table {
        border-collapse: separate !important;
        border-spacing: 0px 10px;
        font-size: 13px;
    }

    .p-datatable-thead > tr > th {
        color: #00A1DE;
    }
    .p-datatable-tbody > tr {
        background: #f6f7f9;
        padding: 0.5rem 0;
        .b-dander {
            // border-left: 0.5em solid red;
        }
    }
    .p-datatable-tbody > tr > td {
        padding: 0.5rem 1rem;
    }

    .p-datatable-tbody > tr td:first-child{
        border-bottom-left-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
    }   
    
    .p-datatable-tbody > tr td:last-child{
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .p-datatable-tbody > tr > td:first-child {
        border-left: 0.5em solid red;
    }

    .p-datatable-tbody > tr > td:first-child {
        border-left: 0.5em solid red;
    }

    .danger {
        border-left: 0.5em solid #00A34B;
    }
    .success {
        border-left: 0.5em solid #00A34B;
    }

}

.style-panel.p-menu  {
    top: 46px !important;
    left: -139px !important;

}