.w-100 {
  width: 100% !important;
}
.b-0 {
  border: 0 !important;
}
.bl-0 {
  border-left: 0 !important;
}
//colors
.red {
  color: #e31919 !important;
}
.green {
  color: #00a34b !important;
}
.orange {
  color: #fab200 !important;
}
.info {
  color: #00a1de !important;
}

.yellow {
  color: #fab200;
}

.blue {
  color: #00a1de;
}

.dark {
  color: #435468;
}

.gray {
  color: #6e6e6e;
}

.purple {
  color: #aa0976;
}

.darkblue {
  color: #5198f7;
}

.green {
  color: #81d99e;
}

.lightblue {
  color: #8fdcf8;
}

.limon {
  color: #b4b75c;
}

.oranges {
  color: #f3b065;
}

.blue-dark{
  color: #2E4259;
}
//
.color-primary {
  color: var(--primary-color) !important;
}

.op-8 {
  opacity: 0.8;
}
