.w-100 {
    width: 100% !important;
}
.b-0 {
    border: 0 !important;
}
.bl-0 {
    border-left: 0 !important;
}
//colors
.red {   
    color: #E31919 !important;
}
.green {
    color: #00A34B !important;
}
.orange {
    color: #FAB200 !important;
}
.info {
    color: #00A1DE !important;
}

//
.color-primary {
    color: var(--primary-color) !important;
}

.op-8 {
    opacity: 0.8;
}


//borders
.br-05 {
    border-radius: 0.5rem !important;
  }
  