<div class="p-grid p-style-input-fill dark p-pt-3 p-m-0">
    <div class="p-field p-grid p-col-12 p-md-6 p-m-0">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-5" for="">Nombre:</label>
            Comité Cálidda
        </div>
    </div>
    <div class="p-field p-grid p-col-12 p-md-6 p-m-0">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-4" for="">Código de Comité:</label>
            C2031
        </div>
    </div>
    <div class="p-field p-grid p-col-12 p-md-6 p-m-0">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-5" for="">Empresa:</label>
            Cálidda
        </div>
    </div>
    <div class="p-field p-grid p-col-12 p-md-6 p-m-0">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-4" for="">Responsable:</label>
            <p-avatar class="p-mr-2" image="assets/images/img22.jpg" shape="circle"></p-avatar>
            <strong class="p-mt-1">Rosario Chiarella</strong>
        </div>
    </div>
    <div class="p-field p-grid p-col-12 p-md-6 p-m-0">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-5" for="">País:</label>
            <img class="p-mr-2" [style.width] ="'25px'" src="assets/images/flag/PE.svg" alt=""> Peru
        </div>
    </div>
    <div class="p-field p-grid p-col-12 p-md-6 p-m-0">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-4" for="">Dirección del Comité:</label>
            Abastecimiento y Servicio
        </div>
    </div>

    <div class="p-field p-grid p-col-12 p-md-6 p-m-0">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-5" for="">Fecha de creación:</label>
            30/11/2020
        </div>
    </div>
    <div class="p-field p-grid p-col-12 p-md-6 p-m-0">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-4" for="">Hora de creación:</label>
            15:45
        </div>
    </div>

    <div class="p-field p-grid p-col-12 p-md-6 p-m-0">
        <div class="p-d-flex w-100 p-pl-2">
            <p-checkbox name="groupname" label="Documento de Confidencialidad de Miembros" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
        </div>
    </div>
    <div class="p-field p-grid p-col-12 p-md-6 p-m-0">
        <div class="p-d-flex w-100 p-pl-2">
            <p-checkbox name="groupname" label="Documento de Confidencialidad Invitados" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
        </div>
    </div>


    


    <div class="p-col-12 p-d-flex p-jc-center p-mt-5 p-mb-3">
        <button  pButton label="Siguiene"> </button>
    </div>
</div>