<div class="p-custom-title">Cese Masivo</div>
<p class="p-custom-text">Ingresa los correos electrónicos requeridos en el campo de texto</p>

<div class="p-card p-px-5 p-py-3">
    <div class="p-fluid p-formgrid p-grid p-mb-3">
        <div class="p-col-12">
            <p-chips [(ngModel)]="values" separator="," styleClass="StyleChips"></p-chips>
        </div>
    </div>
    <div class="p-d-flex p-jc-center btn-group w-100">
        <button (click)="showModalDialog()" pButton type="button" label="Cesar"></button>
        <button pButton type="button" label="Cancelar" class="stylebtn"></button>
    </div>
</div>

<!-- Dialog -->
<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{ width: '400px' }" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [closable]="false" styleClass="style-dialog-confirmation">
    <div class="dialog-content">
        <i class="material-icons red op-8">error_outline</i>
        <h3>Confirmación</h3>
        <p class="p-mb-4">
            ¿Estás seguro de dar de baja a estos usuarios?
        </p>
        <div class="p-fluid p-formgrid p-grid p-mb-">
            <div class="p-col-12">
                <p-chips [(ngModel)]="values" separator="," styleClass="StyleChips"></p-chips>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button (click)="displayModal = false" pButton type="button" label="Sí"></button>
        <button (click)="displayModal = false" pButton type="button" label="No" class="stylebtn"></button>
    </ng-template>
</p-dialog>