<div class="indicadores">
  <p class="indicadores-p">
    Frecuencia |
    <span class="indicadores-span">
      Comités Activos
      <i class="material-icons yellow"> data_saver_off </i>
    </span>
  </p>

  <!-- Form -->
  <div class="p-grid p-style-input-fill p-d-flex p-ai-end p-mt-2">

    <!-- calendario DESDE -->
    <div class="p-col-12 p-md-6 p-lg-4">
      <span class="p-float-label">
        <p-calendar
          [(ngModel)]="date3"
          [locale]="es"
          [showIcon]="true"
          inputId="icon"
          (onSelect)="onKeydown($event)"
        ></p-calendar>
        <label for="inputtext">Desde</label>
      </span>
    </div>

    <!-- calendario HASTA -->
    <div class="p-col-12 p-md-6 p-lg-4">
      <span class="p-float-label">
        <p-calendar
          [(ngModel)]="date4"
          [locale]="es"
          [showIcon]="true"
          inputId="icon"
          (onSelect)="onKeydown($event)"
        ></p-calendar>
        <label for="inputtext">Hasta</label>
      </span>
    </div>

    <div class="p-col-12 p-md-6 p-lg-4 p-text-right">
      <p-button label="Exportar" icon="pi pi-cloud-download"></p-button>
    </div>
  </div>
</div>

<!-- TABLE -->
<div class="p-card p-px-3 br-05">
  <p-table
    [columns]="cols"
    [value]="products"
    styleClass="style-table-direccion"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} of {totalRecords}"
  >
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col [style.width]="20 + '%'" />
        <col [style.width]="20 + '%'" />
        <col [style.width]="20 + '%'" />
        <col [style.width]="20 + '%'" />
        <col [style.width]="20 + '%'" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" class="p-text-left">
          {{ col.header }}
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td class="p-text-left">{{ getDateList(rowData.fechaC) }}</td>
        <td class="p-text-left">{{ rowData.codComite }}</td>
        <td class="p-text-left">{{ rowData.nombre }}</td>
        <td>
          <div class="p-d-flex p-ai-left">
            <p-avatar
              image="assets/images/img-perfil-test.jpg"
              styleClass="p-mr-2"
              shape="circle"
            >
            </p-avatar>
            <span>{{ rowData.secretaria }}</span>
          </div>
        </td>
        <td class="p-text-left">{{ getDateList(rowData.fechaU) }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
