<section class="wallpaper">
  <header>
    <img src="../../../assets/icons/calidda_wh.svg" alt="calidda_logo" />
  </header>
  <h1>SGC</h1>

  <div class="custom_grid">
    <div class="p-col-12 p-md-6 p-lg-3 custom_grid_box">
      <div>
        <p>Administrador de Sistema</p>
        <img src="../../../assets/icons/perfil.svg" alt="user_logo" />
      </div>
      <button
        pButton
        type="button"
        label="Ir ahora"
        icon="pi pi-chevron-circle-right"
        iconPos="right"
        class="p-button-text"
        routerLink="/login"
      ></button>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3 custom_grid_box">
      <div>
        <p>Secretaria de Comité</p>
        <img src="../../../assets/icons/perfil.svg" alt="user_logo" />
      </div>
      <button
        pButton
        type="button"
        label="Ir ahora"
        icon="pi pi-chevron-circle-right"
        iconPos="right"
        class="p-button-text"
        routerLink="/login"
      ></button>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3 custom_grid_box">
      <div>
        <p>Miembro de Comité</p>
        <img src="../../../assets/icons/perfil.svg" alt="user_logo" />
      </div>
      <button
        pButton
        type="button"
        label="Ir ahora"
        icon="pi pi-chevron-circle-right"
        iconPos="right"
        class="p-button-text"
        routerLink="/home"
      ></button>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3 custom_grid_box">
      <div>
        <p>Ejecutor de Subtarea</p>
        <img src="../../../assets/icons/perfil.svg" alt="user_logo" />
      </div>
      <button
        pButton
        type="button"
        label="Ir ahora"
        icon="pi pi-chevron-circle-right"
        iconPos="right"
        class="p-button-text"
        routerLink="/home"
      ></button>
    </div>
  </div>
</section>
