

.wallpaper {
    background-image: url('../../../assets/images/wallpaper.png');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 187, 255);
}