<div class="p-card p-px-5 p-py-3 br-05">
    <p-table [columns]="cols" [value]="comites" styleClass="style-table-comite" [paginator]="true" [rows]="3" [showCurrentPageReport]="true">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col [style.width]="10 + '%'" />
                <col [style.width]="10 + '%'" />
                <col [style.width]="5  + '%'" />
                <col [style.width]="18 + '%'" />
                <col [style.width]="18 + '%'" />
                <col [style.width]="18 + '%'" />
                <col [style.width]="10 + '%'" />
                <col [style.width]="10 + '%'" />
                <col [style.width]="5 + '%'" />
                <col [style.width]="7  + '%'" />
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <!-- variables:  --red --green --info  -->
                <td [style.border-left-color]="'var(--orange)'">
                    {{rowData.fechaCreacion}}
                </td>
                <td>{{rowData.horaCreacion}}</td>
                <td>{{rowData.codigo}}</td>
                <td>{{rowData.nombre}}</td>
                <td>{{rowData.direccion}}</td>
                <td>
                    <div class="p-d-flex p-ai-center">
                        <p-avatar image="assets/images/img-perfil-test.jpg" styleClass="p-mr-2" shape="circle">
                        </p-avatar>
                        <span>{{rowData.responsable}}</span>
                    </div>
                </td>
                <td>{{rowData.empresa}}</td>
                <td>{{rowData.frecuencia}}</td>
                <td>
                    <img [style.width]="'23px'" [src]="getSantizeUrl(rowData.url)" alt="bandera"> {{rowData.pais}}
                </td>
                <td>
                    <div style="position: relative;">
                        <button pButton pRipple type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-info p-button-text icon-size" styleClass="icon-size" (click)="menu.toggle($event)"></button>
                        <p-menu styleClass="style-panel" #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </td>
                <!-- <td  class="b-dander" *ngFor="let col of columns">
                        {{rowData[col.field]}}
                </td>-->
            </tr>
        </ng-template>
    </p-table>
</div>



<!-- Dialog confirmacón dar de baja-->
<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{ width: '400px' }" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false" styleClass="style-dialog-confirmation">
    <div class="dialog-content">

        <i class="pi pi-thumbs-down info"></i>
        <h3>Confirmación</h3>
        <p class="p-m-0">
            ¿Esta seguro de realizar esta operación?
        </p>
    </div>
    <ng-template pTemplate="footer">
        <button (click)="displayModal = false" pButton label="Cancelar"></button>
        <button class="stylebtn" (click)="displayModal = false" pButton label="Continuar"></button>
    </ng-template>
</p-dialog>