<div>
  <div class="title">Mantenimiento</div>

  <div class="card">
    <p-tabView styleClass="p-tab-1">
      <p-tabPanel header="Usuarios">
        <div class="tab-content">
          <label class="tab-content-label">Usuarios</label>
          <p class="tab-content-p">Filtrar por</p>

          <table class="p-table-mood">
            <thead>
              <tr>
                <th scope="col">Nombres y apellidos</th>
                <th scope="col">Correo electrónico</th>
                <th scope="col">DNI</th>
                <th scope="col">Celular</th>
                <th scope="col">Rol</th>
                <th scope="col">Empresa</th>
                <th scope="col">Estado</th>
                <th scope="col">A</th>
                <th scope="col">B</th>
              </tr>
            </thead>
            <tbody>
              <div class="margin-mood"></div>
              <tr>
                <td data-table-header="Nombres y apellidos">
                  <!-- pi-circle-on -->
                  Rocío Del Valle
                </td>
                <td data-table-header="Correo electrónico">luis@calidda.com</td>
                <td data-table-header="DNI">78964231</td>
                <td data-table-header="Celular">987654321</td>
                <td data-table-header="Rol">Voto</td>
                <td data-table-header="Empresa">Calidda</td>
                <td data-table-header="Estado">
                  <i class="pi pi-circle-on icon-mood"></i>
                  Activo
                </td>
                <td data-table-header="A">
                  <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                </td>
                <td data-table-header="B">
                  <button
                    type="button"
                    pButton
                    icon="pi pi-bars"
                    label="Show"
                    (click)="menu.toggle($event)"
                  ></button>
                  <p-menu #menu [popup]="true" [model]="items"></p-menu>
                </td>
              </tr>
              <div class="margin-mood"></div>
              <tr>
                <td data-table-header="Nombres y apellidos">
                  Javier Prado García
                </td>
                <td data-table-header="Correo electrónico">luis@calidda.com</td>
                <td data-table-header="DNI">4585423</td>
                <td data-table-header="Celular">987654321</td>
                <td data-table-header="Rol">Voz y Voto</td>
                <td data-table-header="Empresa">Calidda</td>
                <td data-table-header="Estado">Cesado</td>
                <td data-table-header="A">swith</td>
                <td data-table-header="B">opt</td>
              </tr>
              <div class="margin-mood"></div>
              <tr>
                <td data-table-header="Nombres y apellidos">Rocío Del Valle</td>
                <td data-table-header="Correo electrónico">luis@calidda.com</td>
                <td data-table-header="DNI">78964231</td>
                <td data-table-header="Celular">987654321</td>
                <td data-table-header="Rol">Voto</td>
                <td data-table-header="Empresa">Calidda</td>
                <td data-table-header="Estado">Activo</td>
                <td data-table-header="A">swith</td>
                <td data-table-header="B">opt</td>
              </tr>
              <div class="margin-mood"></div>
            </tbody>
          </table>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Roles">
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit,
          sed quia non numquam eius modi.
        </p>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
