<div>
  <div class="title">Mantenimiento</div>

  <div class="card">
    <p-tabView styleClass="p-tab-1">
      <p-tabPanel header="Usuarios">
        <div class="tab-content">
          <label class="tab-content-label">Usuarios</label>
          <p class="tab-content-p">Filtrar por</p>

          <table class="p-table-mood">
            <thead>
              <tr>
                <th scope="col">Nombres y apellidos</th>
                <th scope="col">Correo electrónico</th>
                <th scope="col">DNI</th>
                <th scope="col">Celular</th>
                <th scope="col">Rol</th>
                <th scope="col">Empresa</th>
                <th scope="col">Estado</th>
                <th scope="col"> </th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <div class="margin-mood"></div>
              <tr>
                <td data-table-header="Nombres y apellidos">
                  <!-- pi-circle-on -->
                  Rocío Del Valle
                </td>
                <td data-table-header="Correo electrónico">luis@calidda.com</td>
                <td data-table-header="DNI">78964231</td>
                <td data-table-header="Celular">987654321</td>
                <td data-table-header="Rol">Voto</td>
                <td data-table-header="Empresa">Calidda</td>
                <td data-table-header="Estado">
                  <i class="pi pi-circle-on icon-mood icon-color-active"></i>
                  Activo
                </td>
                <td data-table-header=" ">
                  <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                </td>
                <td data-table-header=" ">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-ellipsis-v"
                    class="p-button-rounded p-button-info p-button-text icon-size"
                    styleClass="p-icon-size"
                    (click)="menu.toggle($event)"
                  ></button>
                  <p-menu #menu [popup]="true" [model]="items"></p-menu>
                </td>
              </tr>

              <div class="margin-mood"></div>
              <tr>
                <td data-table-header="Nombres y apellidos">
                  Javier Prado García
                </td>
                <td data-table-header="Correo electrónico">luis@calidda.com</td>
                <td data-table-header="DNI">4585423</td>
                <td data-table-header="Celular">987654321</td>
                <td data-table-header="Rol">Voz y Voto</td>
                <td data-table-header="Empresa">Calidda</td>
                <td data-table-header="Estado">
                  <i class="pi pi-circle-on icon-mood icon-color-inactive"></i>
                  Cesado
                </td>
                <td data-table-header=" ">
                  <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                </td>
                <td data-table-header=" ">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-ellipsis-v"
                    class="p-button-rounded p-button-info p-button-text icon-size"
                    styleClass="icon-size"
                    (click)="menu.toggle($event)"
                  ></button>
                  <p-menu #menu [popup]="true" [model]="items"></p-menu>
                </td>
              </tr>

              <div class="margin-mood"></div>
              <tr>
                <td data-table-header="Nombres y apellidos">Rocío Del Valle</td>
                <td data-table-header="Correo electrónico">luis@calidda.com</td>
                <td data-table-header="DNI">78964231</td>
                <td data-table-header="Celular">987654321</td>
                <td data-table-header="Rol">Voto</td>
                <td data-table-header="Empresa">Calidda</td>
                <td data-table-header="Estado">
                  <i class="pi pi-circle-on icon-mood icon-color-active"></i>
                  Activo
                </td>
                <td data-table-header=" ">
                  <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                </td>
                <td data-table-header=" ">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-ellipsis-v"
                    class="p-button-rounded p-button-info p-button-text icon-size"
                    styleClass="icon-size"
                    (click)="menu.toggle($event)"
                  ></button>
                  <p-menu #menu [popup]="true" [model]="items"></p-menu>
                </td>
              </tr>

              <div class="margin-mood"></div>
            </tbody>
          </table>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Roles">
        <p>Still working ... maybe this part change too cx</p>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
