<p-panel   [toggleable]="true" expandIcon="pi pi-chevron-circle-down" collapseIcon="pi pi-chevron-circle-up">
    <ng-template pTemplate="header">
        <p class="title">Compromisos</p>
    </ng-template>
    <div class="p-grid">
        <div class="p-col-12 p-md-4">
            <div class="p-card b-shadow-none bg-blue-2 p-p-3 h-100">
                <div class="p-d-flex p-jc-between p-ai-center">
                    <p class="title p-mb-3">Pendiente</p>
                    <div class="hx-bar red"></div>
                </div>
                <div class="p-card p-mb-3">
                    <div class="p-card-body">
                        <div class="p-d-flex p-jc-between">
                            <div class="p-d-flex p-ai-center">
                                <p-avatar image="assets/images/img11.jpg" styleClass="p-mr-2" shape="circle"></p-avatar>
                                <div class="p-d-flex p-flex-column">
                                    <p class="p-d-block line-h-1-5">Rocio del Valle</p>
                                    <label class="info">Calida</label>
                                </div>
                            </div>
                            <span class="red">Pendiente</span>
                        </div>
                        <div class="">
                            <p class="gray p-mb-1"> - Entrega de compromisos y pendientes </p>
                            <p class="gray op-5 p-text-right"> 20/11/2020</p>
                        </div>
                    </div>
                    <div class="p-card-footer">
                        <div class="p-d-flex p-jc-center">
                            <button class="p-mb-3" pButton label="Alertar al responsable"></button>
                        </div>
                    </div>
                </div>
                <div class="p-card">
                    <div class="p-card-body">
                        <div class="p-d-flex p-jc-between">
                            <div class="p-d-flex p-ai-center">
                                <p-avatar image="assets/images/img11.jpg" styleClass="p-mr-2" shape="circle"></p-avatar>
                                <div class="p-d-flex p-flex-column">
                                    <p class="p-d-block line-h-1-5">Rocio del Valle</p>
                                    <label class="info">Calida</label>
                                </div>
                            </div>
                            <span class="red">Pendiente</span>
                        </div>
                        <div class="">
                            <p class="gray p-mb-1"> - Entrega de compromisos y pendientes </p>
                            <p class="gray op-5 p-text-right"> 20/11/2020</p>
                        </div>
                    </div>
                    <div class="p-card-footer">
                        <div class="p-d-flex p-jc-center">
                            <button class="p-mb-3" pButton label="Alertar al responsable"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="p-col-12 p-md-4">
            <div class="p-card b-shadow-none bg-blue-2 p-p-3 h-100">
                <div class="p-d-flex p-jc-between p-ai-center">
                    <p class="title p-mb-3">En Proceso</p>
                    <div class="hx-bar orange"></div>
                </div>
                <div class="p-card">
                    <div class="p-card-body">
                        <div class="p-d-flex p-jc-between">
                            <div class="p-d-flex p-ai-center">
                                <p-avatar image="assets/images/img11.jpg" styleClass="p-mr-2" shape="circle"></p-avatar>
                                <div class="p-d-flex p-flex-column">
                                    <p class="p-d-block line-h-1-5">Rocio del Valle</p>
                                    <label class="info">Calida</label>
                                </div>
                            </div>
                            <span class="orange">En proceso</span>
                        </div>
                        <div class="">
                            <p class="gray p-mb-1"> - Entrega de compromisos y pendientes </p>
                            <p class="gray op-5 p-text-right"> 20/11/2020</p>
                        </div>
                    </div>
                    <div class="p-card-footer">
                        <div class="p-d-flex p-jc-center">
                            <button class="p-mb-3" icon="pi pi-eye" pButton label="Ver Detalles"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="p-col-12 p-md-4">
            <div class="p-card b-shadow-none bg-blue-2 p-p-3 h-100">
                <div class="p-d-flex p-jc-between p-ai-center">
                    <p class="title p-mb-3">Finalizado</p>
                    <div class="hx-bar green"></div>
                </div>
                <div class="p-card p-mb-3">
                    <div class="p-card-body">
                        <div class="p-d-flex p-jc-between">
                            <div class="p-d-flex p-ai-center">
                                <p-avatar image="assets/images/img11.jpg" styleClass="p-mr-2" shape="circle"></p-avatar>
                                <div class="p-d-flex p-flex-column">
                                    <p class="p-d-block line-h-1-5">Rocio del Valle</p>
                                    <label class="info">Calida</label>
                                </div>
                            </div>
                            <span class="green">Finalizado</span>
                        </div>
                        <div class="">
                            <p class="gray p-mb-1"> - Entrega de compromisos y pendientes </p>
                            <p class="gray op-5 p-text-right"> 20/11/2020</p>
                        </div>
                    </div>
                    <div class="p-card-footer">
                        <div class="p-d-flex p-jc-center">
                            <button class="p-mb-3" icon="pi pi-eye" pButton label="Ver Detalles"></button>
                        </div>
                    </div>
                </div>
    
                <div class="p-card p-mb-3">
                    <div class="p-card-body">
                        <div class="p-d-flex p-jc-between">
                            <div class="p-d-flex p-ai-center">
                                <p-avatar image="assets/images/img11.jpg" styleClass="p-mr-2" shape="circle"></p-avatar>
                                <div class="p-d-flex p-flex-column">
                                    <p class="p-d-block line-h-1-5">Rocio del Valle</p>
                                    <label class="info">Calida</label>
                                </div>
                            </div>
                            <span class="green">Finalizado</span>
                        </div>
                        <div class="">
                            <p class="gray p-mb-1"> - Entrega de compromisos y pendientes </p>
                            <p class="gray op-5 p-text-right"> 20/11/2020</p>
                        </div>
                    </div>
                    <div class="p-card-footer">
                        <div class="p-d-flex p-jc-center">
                            <button class="p-mb-3" icon="pi pi-eye" pButton label="Ver Detalles"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="p-col-12 p-d-flex p-jc-center">
            <button class="p-mb-3" pButton label="Guardar"></button>
        </div>
    
    </div>
</p-panel>
