<div class="p-custom">
    <div class="p-custom-title">Cese Masivo</div>
    <p class="p-custom-text">Ingresa los correos electrónicos requeridos en el campo de texto</p>


    <div class="p-custom-content">
        <div class="p-grid">
            <div class="p-col-12">
                <p-chips [(ngModel)]="values1" ></p-chips>
            </div>
        </div>
        
        <div class="p-custom-btn">
            <p-button label="Cesar"></p-button>
            <p-button label="Cancelar"></p-button>
        </div>
    </div>    
</div>
