<span class="p-custom-title">Mi Perfil</span>
<p class="p-custom-text">Aquí podrás gestionar tus datos personales.</p>

<div class="p-card p-mb-4">
    <div class="p-grid p-style-input-fill dark">
        <div class="p-col-12 p-md-2 p-d-flex p-jc-center p-ai-center">
            <p-avatar
                styleClass="style-avatar-profile cPointer"    
                image="assets/images/img22.jpg"
                size="xlarge"
                (click)="cargar()"
                shape="circle">
            </p-avatar>
        </div>
        <div class="p-grid p-col-12 p-md-10 p-p-4 p-m-0">
            <div class="p-field p-col-12 p-d-flex p-jc-between p-ai-center">
                <p class="fw-500 info fz-14">Información general</p>
                <button pButton pRipple type="button" icon="icon-edit"
                    class="p-button-rounded wh-color icon-header-size p-button-text"></button>
            </div>
            <div class="p-field p-grid p-col-12 p-md-6">
                <div class="p-d-flex w-100">
                    <label class="p-mr-1 info p-col-6 p-md-5" for="">Nombres y Apellidos</label>
                    Simy Benzaquen
                </div>
            </div>
            <div class="p-field p-grid p-col-12 p-md-6">
                <div class="p-d-flex w-100">
                    <label class="p-mr-1 info p-col-6 p-md-3" for="">Empresa:</label>
                    Simy Benzaquen
                </div>
            </div>
            <div class="p-field p-grid p-col-12 p-md-6">
                <div class="p-d-flex w-100">
                    <label class="p-mr-1 info p-col-6 p-md-5" for="">Correo asociado:</label>
                    Simy Benzaquen
                </div>
            </div>
            <div class="p-field p-grid p-col-12 p-md-6">
                <div class="p-d-flex w-100">
                    <label class="p-mr-1 info p-col-6 p-md-3" for="">DNI:</label>
                    23133213
                </div>
            </div>
            <div class="p-field p-grid p-col-12 p-md-6">
                <div class="p-d-flex w-100">
                    <label class="p-mr-1 info p-col-6 p-md-5" for="">Rol:</label>
                    Administrador
                </div>
            </div>
            <div class="p-field p-grid p-col-12 p-md-6">
                <div class="p-d-flex w-100">
                    <label class="p-mr-1 info p-col-6 p-md-3" for="">Celular:</label>
                    988 762 729
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-card p-p-4">
    <p class="fw-500 info fz-14">Información general</p><br>
    <div class="p-grid p-style-input-fill">
        <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label p-input-icon-right">
                <i class="pi pi-eye"></i>
                <input type="password" pInputText>
                <label>Contraseña actual</label>
            </span>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label p-input-icon-right">
                <i class="pi pi-eye"></i>
                <input type="password" pInputText>
                <label>Contraseña nueva</label>
            </span>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label p-input-icon-right">
                <i class="pi pi-eye"></i>
                <input type="password" pInputText>
                <label>Confirmar contraseña</label>
            </span>
        </div>
        <div class="p-col-12 p-md-12">
            <label class="op-8 dark"> Nota: La contraseña debe tener mínimo 6 caracteres, entre mayúsculas y
                números.</label>
        </div>
    </div><br>
    <div class="p-d-flex btn-group">
        <button pButton type="button" label="Cancelar"></button>
        <button class="stylebtn" pButton type="button" label="Continuar"></button>
    </div>
</div>

<p-fileUpload styleClass="style-hidden"  #fileInput  name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onBeforeUpload)="onBeforeUpload()" (onUpload)="onUpload($event)" [auto]="true" chooseLabel="Browse"></p-fileUpload>
<p-toast [baseZIndex]="99999"></p-toast>