<div class="card p-flex-column">
    <div>
        <p class="title">Creación de Nuevo Comité</p>
        <label class="p-custom-text">Ingresa los datos requeridos</label>
    </div>

    <p-tabView styleClass="p-tab-style-2">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span class="tab-title">Nuevo</span>
            </ng-template>
            <div class="tab-content">

            </div>
        </p-tabPanel>


        <p-tabPanel [selected]="true" header="Comité: COC21-2">
            <div class="tab-content">
                <form [formGroup]="comiteForm" autocomplete="offs">
                    <div class="p-grid">
                        <!-- Nombre del comité -->
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field">
                                <label for="nombre" [ngClass]="{ 'is-invalid-text': submitted && g.nombre.errors }">Nombre del comité</label>
                                <input formControlName="nombre" [ngClass]="{ 'is-invalid-input': submitted && g.nombre.errors }" oninput="this.value=this.value.trim()==''?'':this.value" pInputText />
                                <div *ngIf="submitted && g.nombre.errors != null">
                                    <span class="p-error" *ngIf="g.nombre.errors.minlength">El nombre debe contener al menos un carácter.<br></span>
                                    <span class="p-error" *ngIf="g.nombre.errors.required">El nombre es requerido.<br></span>
                                    <span class="p-error" *ngIf="g.nombre.errors.maxlength">El nombre debe contener maximo 70 carácteres.<br></span>
                                </div>

                            </div>
                        </div>

                        <!-- Empresa del comité -->
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field">
                                <label>Empresa del comité</label>
                                <p-dropdown [options]="listaEmpresas" (onChange)="changeEmpresa($event)" formControlName="empresaId" optionLabel="nombre" placeholder="Seleccione..."></p-dropdown>
                            </div>
                        </div>

                        <!-- País -->
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field">
                                <label>País</label>
                                <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" name="pais" [showClear]="false" placeholder="" dropdownIcon="">
                                    <ng-template pTemplate="selectedItem">
                                        <div class="p-d-flex p-ai-center">
                                            <img style="width: 20px;" src="assets/images/flag/PE.svg" />
                                            <!-- <span class="p-ml-2" style="line-height: 0; margin-bottom: 5px;">{{selectedCountry.name}}</span> -->
                                            <span class="p-ml-2" style="line-height: 0; margin-bottom: 5px;">PERÚ</span>
                                        </div>
                                    </ng-template>
                                    <ng-template let-country pTemplate="item">
                                        <div class="p-d-flex p-ai-center">
                                            <img style="width: 20px;" src="assets/images/flag/PE.svg" />
                                            <span class="p-ml-2" style="line-height: 0; margin-bottom: 5px;">{{country.name}}</span>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>

                        <!-- Responsable del comité -->
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field">
                                <label>Responsable del comité</label>
                                <!-- <input pInputText /> -->
                                <p-autoComplete [(ngModel)]="usuarioSelected" (onSelect)="onSelectUsuario($event)" [suggestions]="filteredUsuarios" (completeMethod)="filtered($event)" field="label" [minLength]="1" emptyMessage="No se han encontrado resultados" placeholder="Ingrese al menos 1 caracter..."></p-autoComplete>
                            </div>
                        </div>

                        <!-- Correo electrónico -->
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field">
                                <label>Correo electrónico</label>
                                <input pInputText formControlName="correo" />
                            </div>
                        </div>

                        <!-- Dirección dueña del comité -->
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field">
                                <label>Dirección dueña del comité</label>
                                <p-dropdown [options]="listaDirecciones" formControlName="direccionId" placeholder="Seleccione..." optionLabel="nombre"></p-dropdown>
                            </div>
                        </div>

                        <!-- Código del comité -->
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field">
                                <label>Código del comité</label>
                                <input pInputText />
                            </div>
                        </div>

                        <!-- Fecha de la creación de comité -->
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field">
                                <label>Fecha de la creación de comité</label>
                                <input pInputText />
                            </div>
                        </div>

                        <!-- Hora de creación de comité -->
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <div class="p-field">
                                <label>Hora de creación de comité</label>
                                <input pInputText />
                            </div>
                        </div>

                        <!-- Btn Crear -->
                        <div class="p-col-12 p-text-center">
                            <p-button label="Crear" (click)="send()"></p-button>
                        </div>
                    </div>
                </form>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>

<!-- Dialog Crear content -->
<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{ width: '400px' }" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false" styleClass="style-dialog-confirmation">
    <div class="dialog-content">
        <i class="material-icons"> check_circle_outline </i>
        <h3>Confirmación</h3>
        <p class="p-m-0">
            El comité <strong>“Comité Cálidda”</strong> ha sido creado correctamente
        </p>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="displayModal = false" label="Ir a mis comités"></p-button>
    </ng-template>
</p-dialog>