<div class="p-card p-px-5 p-py-3 br-05">
    <p-table [columns]="cols" [value]="products" [paginator]="true" [rows]="3" styleClass="style-table-direccion"
        [showCurrentPageReport]="true" [resizableColumns]="true"
        currentPageReportTemplate="{first} - {last} of {totalRecords}">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col [style.width]="12 + '%'" />
                <col [style.width]="12  + '%'" />
                <col [style.width]="12 + '%'" />
                <col [style.width]="12 + '%'" />
                <col [style.width]="23 + '%'" />
                <col [style.width]="10 + '%'" />
                <col [style.width]="8 + '%'" />
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pResizableColumn>
                    {{col.header}}
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td class="b-dander" *ngFor="let col of columns">

                    <div class="p-d-flex p-ai-center">
                        <span *ngIf="col.field != 'estado'; else estatus">
                            {{rowData[col.field]}}
                        </span>
                        <button pButton pRipple type="button" icon="pi" *ngIf="col.field == 'tipoR'"
                            label="Iniciar Reunión" class="p-ml-2" styleClass="icon-size"
                            routerLink="/secretary/in-person-meeting">
                        </button>
                        <ng-template #estatus>
                            <!-- variables:  --red --green --info  -->
                            <i class="pi pi-circle-on p-mr-2 p-mt-1 fz-8" [style.color]="'var(--green)'"></i>
                            {{rowData[col.field].name}}
                        </ng-template>
                    </div>
                </td>
                <td>
                    <button pButton pRipple type="button" icon="pi" *ngIf="rowData.estado.cod == '0'"
                        routerLink="/secretary/view-comite"
                        class="p-button-rounded p-button-info p-button-text icon-size" styleClass="icon-size">
                        <span class="material-icons-outlined">
                            visibility
                        </span>
                    </button>
                    <button pButton pRipple type="button" icon="pi" *ngIf="rowData.estado.cod == '1'"
                        routerLink="/secretary/detail-config"
                        class="p-button-rounded p-button-info p-button-text icon-size" styleClass="icon-size">
                        <span class="material-icons-outlined">
                            settings
                        </span>
                    </button>
                    <button routerLink="/secretary/meet" pButton pRipple type="button" icon="pi icon-edit"
                        *ngIf="rowData.estado.cod == '2'" class="p-button-rounded p-button-info p-button-text icon-size"
                        styleClass="icon-size">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>