<!-- Banner -->
<div class="pi-container">
    <div class="pi-banner">
        <div class="pi-banner-content">
            <h1>Relación de comites</h1>

            <div class="p-d-flex p-flex-wrap p-jc-between p-ai-center p-mt-0 p-mt-lg-5">
                <!-- Leyenda -->
                <div class="leyenda">
                    <p>Leyenda:</p>
                    <div>
                        <i class="pi pi-circle-on created"></i>
                        <span>Creado</span>
                    </div>
                    <div>
                        <i class="pi pi-circle-on active"></i>
                        <span>Activo</span>
                    </div>
                    <div>
                        <i class="pi pi-circle-on config"></i>
                        <span>En configuración</span>
                    </div>
                    <div>
                        <i class="pi pi-circle-on low"></i>
                        <span>De baja</span>
                    </div>
                </div>

                <!-- Button crear -->
                <div class="p-d-flex p-jc-end">
                    <p-button label="Crear Comité" icon="pi pi-plus-circle" routerLink="/manager/crear-comites">
                    </p-button>
                </div>
            </div>

        </div>
    </div>
</div>

  <!-- Form -->
  <div class="p-grid p-style-input-fill p-m-4 p-ai-end">
    <!-- Nombre del comité -->
    <div class="p-col-12 p-md-6 p-lg-3">
        <span class="p-float-label p-input-icon-right">
            <!-- <i class="pi pi-search"></i> -->
            <p-autoComplete
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="selectedComite"
                (completeMethod)="searchComite($event)"
                [suggestions]="comites"
                field="label"
                [minLength]="1"
                emptyMessage="No se han encontrado resultados"
                >
            </p-autoComplete>
            <label for="inputtext">Nombre del comité</label>
        </span>
    </div>

    <!-- Código del comité -->
    <div class="p-col-12 p-md-6 p-lg-3">
        <span class="p-float-label p-input-icon-right">
            <!-- <i class="pi pi-search"></i> -->
            
            <p-autoComplete
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="selectedCodComite"
            (completeMethod)="searchComite($event)"
            [suggestions]="comites"
            field="cod"
            [minLength]="1"
            emptyMessage="No se han encontrado resultados"
            >
        </p-autoComplete>
            <label for="inputtext">Código del comité</label>
        </span>
    </div>

    <!-- calendario DESDE -->
    <div class="p-col-12 p-md-6 p-lg-3">
        <span class="p-float-label">
            <p-calendar [(ngModel)]="date3" [locale]="es" [showIcon]="true" inputId="icon"></p-calendar>
            <label for="inputtext">Desde</label>
        </span>
    </div>

    <!-- calendario HASTA -->
    <div class="p-col-12 p-md-6 p-lg-3">
        <span class="p-float-label">
            <p-calendar [(ngModel)]="date4" [locale]="es" [showIcon]="true" inputId="icon"></p-calendar>
            <label for="inputtext">Hasta</label>
        </span>
    </div>
</div>
<app-comite-table></app-comite-table>