<p class="title info p-mb-3">Acta de Reunión - C2031</p>

<div class="p-grid p-col-12 p-md-12 p-style-input-fill dark">
    <div class="p-field p-grid p-col-12 p-md-6">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-5">Comité:</label>
            Comité Cálidda
        </div>
    </div>
    <div class="p-field p-grid p-col-12 p-md-6">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-4">Responsable:</label>
            Karina López
        </div>
    </div>
    <div class="p-field p-grid p-col-12 p-md-6">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-5">Link:</label>
            <a class="info" href="http://">www.microsoftteams.com/calidda</a>
        </div>
    </div>
    <div class="p-field p-grid p-col-12 p-md-6">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-4">Asunto:</label>
            Revisión de entregables
        </div>
    </div>
    <div class="p-field p-grid p-col-12 p-md-6">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-5">Fecha:</label>
            20/11/2020 - 30/11/2020
        </div>
    </div>
    <div class="p-field p-grid p-col-12 p-md-6">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-4">Detalle:</label>
            Entrega de avances finales para la aprobación…
        </div>
    </div>
    <div class="p-field p-grid p-col-12 p-md-6">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-5">Hora:</label>
            10:00 a.m. - 1:00 p.m.
        </div>
    </div>
    <div class="p-field p-grid p-col-12 p-md-6 p-p-3">
        <div class="p-d-flex w-100">
            <label class="p-mr-1 info p-col-6 p-md-4">Comité:</label>
            C2031
        </div>
    </div>
    <div class="p-card p-col-12 border-1px-gray p-p-3 p-mb-3">
        <p class="title p-mb-3">Aprobara Acta</p>
        <div class="p-d-flex p-jc-center">
            <button class="stylebtn"  pButton label="Visualizar acta" icon="pi pi-eye"></button>
        </div>
    </div>
    <div class="p-card p-col-12 border-1px-gray p-p-3">
        <p class="title p-mb-3">Aprobara Acta</p>
        <div class="p-d-flex p-jc-center">
            <button [style.width]="'15%'"  pButton label="Firmar" icon="pi">
                <span class="material-icons-outlined">
                    drive_file_rename_outline
                </span>
            </button>
        </div>
    </div>
</div>