<div class="indicadores">
  <p class="indicadores-p">
    Secretaria de comité |
    <span class="indicadores-span">
      Comités Activos
      <i class="material-icons yellow"> bar_chart </i>
    </span>
  </p>

  <!-- Form -->
  <div class="p-grid p-style-input-fill p-d-flex p-ai-end p-mt-2">
    <!-- Buscar empresa -->
    <div class="p-col-12 p-md-6 p-lg-6">
      <label class="secretaria">Secretaria del comité</label>
      <div class="p-d-flex p-ai-start p-mt-3">
        <p-avatar
          image="assets/images/img-perfil-test.jpg"
          styleClass="p-mr-2"
          shape="circle"
        >
        </p-avatar>
        <span class="p-text-normal blue-dark">Rocio del Valle</span>
      </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-6 p-text-right">
      <p-button label="Exportar" icon="pi pi-cloud-download"></p-button>
    </div>
  </div>
</div>

<!-- tablee -->
<div class="p-card p-px-3 br-05">
  <p-table
    [columns]="cols2"
    [value]="products2"
    styleClass="style-table-direccion"
    [paginator]="true"
    [rows]="3"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} of {totalRecords}"
  >
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col [style.width]="33 + '%'" />
        <col [style.width]="33 + '%'" />
        <col [style.width]="33 + '%'" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" class="p-text-left">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td class="p-text-left">20/04/2021</td>
        <td class="p-text-left">Comité de dirección</td>
        <td class="p-text-left">20/01/2021</td>
      </tr>
    </ng-template>
  </p-table>
</div>
