<div class="p-fluid p-formgrid p-grid form-input-sm p-mb-3">
    <div class="p-field p-col-12 p-d-flex p-jc-between">
        <div class="p-d-flex">
            <p-badge [value]="1" severity="info" styleClass="p-mr-2"></p-badge>
            <label class="color-primary">Sobre la Empresa</label>
        </div>

        <div class="p-d-flex p-ai-center">
            <!-- variables:  --red --green --info  -->
            <i class="pi pi-circle-on icon-mood icon-color-active p-mr-2" [style.color]="'var(--green)'">
            </i>
            <label class="p-mr-2">Activo</label>
            <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
        </div>
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label>Empresa</label>
        <input type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label>Pais</label>

        <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [showClear]="false"
            placeholder="" dropdownIcon="">
            <ng-template pTemplate="selectedItem">
                <div class="p-d-flex p-ai-center">
                    <img style="width: 20px;" src="assets/images/flag/PE.svg" />
                    <!-- <span class="p-ml-2" style="line-height: 0; margin-bottom: 5px;">{{selectedCountry.name}}</span> -->
                    <span class="p-ml-2" style="line-height: 0; margin-bottom: 5px;">PERÚ</span>
                </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="p-d-flex p-ai-center">
                    <img style="width: 20px;" src="assets/images/flag/PE.svg" />
                    <span class="p-ml-2" style="line-height: 0; margin-bottom: 5px;">{{country.name}}</span>
                </div>
            </ng-template>
        </p-dropdown>

    </div>

    <div class="p-field p-col-12 p-md-6">
        <div class="p-d-flex">
            <p-badge [value]="1" severity="info" styleClass="p-mr-2"></p-badge>
            <label class="color-primary">Datos Personales</label>
        </div>
    </div>

    <div class="p-field p-col-12 p-md-12">
        <label>Nombres y apellidos</label>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <p-avatar image="assets/images/img-perfil-test.jpg" styleClass="p-mr-2" shape="circle">
                </p-avatar>
            </span>
            <input class="p-bl-0 bl-0" type="text" pInputText placeholder="Username">
        </div>
        <!-- <input type="text" pInputText> -->
    </div>
    <div class="p-field p-col-12 p-md-12">
        <label>Correo Electronico</label>
        <input type="text" pInputText>
    </div>


    <div class="p-field p-col-12 p-md-6">
        <label>Celular</label>
        <input type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label>Rol</label>
        <input type="text" pInputText>
    </div>

</div>

<div class="p-d-flex p-jc-center w-100 p-mb-3">
    <button (click)="showModalDialog();" pButton type="button" label="Crear"></button>
</div>

<!-- Dialog Crear content -->
<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{ width: '400px' }" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [closable]="false" styleClass="style-dialog-confirmation">
    <div class="dialog-content">
        <i class="material-icons"> check_circle_outline </i>
        <h3>Confirmación</h3>
        <p class="p-m-0">
            El comité <strong>“Comité Cálidda”</strong> ha sido creado correctamente
        </p>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="displayModal = false" label="Ir a mis comités"></p-button>
    </ng-template>
</p-dialog>