<div class="card p-flex-column">
  <div>
    <p class="appearance-tab">Detalle de comité</p>
    <!-- <label class="p-custom-text">Ingresa los datos requeridos</label> -->
  </div>
  <p-tabView styleClass="p-tab-style-2">
    <p-tabPanel [selected]="true" header="Comité: COC21-2" [style.background]="'#ffffff'">
      <!-- INFORMACIÓN BÁSICA -->
      <div class="tab-content">
        <p class="tab-info-label">Información básica</p>
        <div class="p-grid">
          <!-- NOMBRE -->
          <div class="p-col-12 p-md-6 p-lg-6 p-d-flex p-ai-center">
            <p [style.color]="'var(--primary-color)'" [style.width]="'25%'">
              Nombre:
            </p>
            <p>Comité cálidda</p>
          </div>

          <!-- CÓDIGO DE COMITÉ -->
          <div class="p-col-12 p-md-6 p-lg-6 p-d-flex p-ai-center">
            <p [style.color]="'var(--primary-color)'" [style.width]="'35%'">
              Código de comite:
            </p>
            <p>C2031</p>
          </div>

          <!-- EMPRESA -->
          <div class="p-col-12 p-md-6 p-lg-6 p-d-flex p-ai-center">
            <p [style.color]="'var(--primary-color)'" [style.width]="'25%'">
              Empresa:
            </p>
            <p>Cálidda</p>
          </div>

          <!-- RESPONSABLE -->
          <div class="p-col-12 p-md-6 p-lg-6 p-d-flex p-ai-center">
            <p [style.color]="'var(--primary-color)'" [style.width]="'25%'">
              Responsable:
            </p>
            <div class="p-d-flex p-ai-center">
              <p-avatar
                image="assets/images/img22.jpg"
                styleClass="p-mr-2"
                shape="circle"
              ></p-avatar>
              <p>Rosario Chiarella</p>
            </div>
          </div>

          <!-- PAÍS -->
          <div class="p-col-12 p-md-6 p-lg-6 p-d-flex p-ai-center">
            <p [style.color]="'var(--primary-color)'" [style.width]="'25%'">
              País:
            </p>
            <div class="p-d-flex p-ai-center">
              <img src="assets/images/flag/PE.svg" alt="flag" class="p-mr-2" />
              <p>Perú</p>
            </div>
          </div>

          <!-- DIRECCIÓN DEL COMITÉ -->
          <div class="p-col-12 p-md-6 p-lg-6 p-d-flex p-ai-center">
            <p [style.color]="'var(--primary-color)'" [style.width]="'40%'">
              Dirección del comité:
            </p>
            <p>Comité cálidda</p>
          </div>

          <!-- FECHA DE CREACIÓN -->
          <div class="p-col-12 p-md-6 p-lg-6 p-d-flex p-ai-center">
            <p [style.color]="'var(--primary-color)'" [style.width]="'35%'">
              Fecha de creación:
            </p>
            <p>30/11/2020</p>
          </div>

          <!-- HORA DE CREACIÓN -->
          <div class="p-col-12 p-md-6 p-lg-6 p-d-flex p-ai-center">
            <p [style.color]="'var(--primary-color)'" [style.width]="'35%'">
              Hora de creación:
            </p>
            <p>04:00pm</p>
          </div>
        </div>

      <!-- DATOS DEL COMITÉ -->
        <p class="tab-info-label">Datos del comité</p>
        <div class="p-grid">
          <!-- DESCRIPCIÓN DEL COMITÉ -->
          <div class="p-col-12">
            <p [style.color]="'var(--primary-color)'" class="p-mb-3">
              Descripción del comité
            </p>
            <p>Entrega de avances finales para la aprobación del proyecto.</p>
          </div>

          <!-- OBJETIVO DEL COMITÉ -->
          <div class="p-col-12">
            <p [style.color]="'var(--primary-color)'" class="p-mb-3">
              Objetivo del comité
            </p>
            <p>Revisión de la comisión</p>
          </div>
        </div>

      <!-- PERIODICIDAD DE REUNIONES -->
        <div class="p-fluid p-formgrid gray p-grid">
          <div class="p-field p-col-12 p-ai-center">
            <span class="tab-info-label p-mr-3">Periodicidad de reuniones</span>
            <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
          </div>

          <div class="p-field p-col-12">
            <label>Frecuencia</label>
            <div
              class="p-d-flex p-jc-between flex-wrap p-p-3 border-1px-gray rounded-1"
            >
              <p-radioButton
                value=""
                label="Semanal"
                [(ngModel)]="selectedValue"
              ></p-radioButton>
              <p-radioButton
                value=""
                label="Quincenal"
                [(ngModel)]="selectedValue"
              ></p-radioButton>
              <p-radioButton
                value=""
                label="Trimestral"
                [(ngModel)]="selectedValue"
              ></p-radioButton>
              <p-radioButton
                value=""
                label="Mensual"
                [(ngModel)]="selectedValue"
              ></p-radioButton>
              <p-radioButton
                value=""
                label="Semestral"
                [(ngModel)]="selectedValue"
              ></p-radioButton>
              <p-radioButton
                value=""
                label="Anual"
                [(ngModel)]="selectedValue"
              ></p-radioButton>
            </div>
          </div>

          <div class="p-field p-col-12">
            <label>Días</label>
            <div
              class="p-d-flex p-jc-between flex-wrap p-p-3 border-1px-gray rounded-1"
            >
              <p-checkbox
                label="Lunes"
                value="val1"
                [(ngModel)]="selectedValue"
              ></p-checkbox>
              <p-checkbox
                label="Martes"
                value="val1"
                [(ngModel)]="selectedValue"
              ></p-checkbox>
              <p-checkbox
                label="Miercoles"
                value="val1"
                [(ngModel)]="selectedValue"
              ></p-checkbox>
              <p-checkbox
                label="Jueves"
                value="val1"
                [(ngModel)]="selectedValue"
              ></p-checkbox>
              <p-checkbox
                label="Viernes"
                value="val1"
                [(ngModel)]="selectedValue"
              ></p-checkbox>
            </div>
          </div>

          <div class="p-field p-col-12 p-md-3">
            <label>Fecha de inicio</label>
            <p-calendar
              [(ngModel)]="date"
              [showIcon]="true"
              inputId="icon"
            ></p-calendar>
          </div>
          <div class="p-field p-col-12 p-md-2">
            <label>Hora de inicio</label>
            <input type="text" pInputText />
          </div>
          <div class="p-field p-col-12 p-md-2">
            <label>Hora de fin</label>
            <input type="text" pInputText />
          </div>
          <div class="p-field p-col-12 p-md-2">
            <label>Duración</label>
            <input type="text" pInputText />
          </div>
          <div class="p-field p-col-12 p-md-3">
            <label>Repeteciones</label>
            <input type="text" pInputText />
          </div>

          <p class="p-field p-col-12 p-custom-title">Alertas de reuniones</p>
          <div class="p-field p-col-12 p-md-3">
            <label>Días de anticipación</label>
            <input type="text" pInputText />
          </div>

          <p class="p-field p-col-12 p-custom-title">Facultades</p>
          <div class="p-field p-col-12 p-md-3">
            <p-checkbox
              label="Voto"
              value="val1"
              [(ngModel)]="selectedValue"
            ></p-checkbox>
          </div>
        </div>

      <!-- CUÓRUM -->
        <p class="tab-info-label p-mb-3">Cuórum</p>
        <div class="p-fluid p-formgrid gray p-grid">
          <div class="p-field p-col-12 p-md-3">
            <label>Ingresar cuórum mínimo</label>
            <input type="text" pInputText />
          </div>
        </div>

      <!-- TIEMPO MÁXIMO DE ESPERA -->
        <p class="tab-info-label p-mb-3">Tiempo máximo de espera</p>
        <div class="p-fluid p-formgrid gray p-grid">
          <div class="p-field p-col-12 p-md-3">
            <label>Ingresar tiempo máximo</label>
            <input type="text" pInputText />
          </div>
        </div>

      <!-- MIEMBROS DEL COMITÉ -->
        <p class="tab-info-label">Miembros del comité</p>
        <div class="p-d-flex p-jc-between p-ai-center">
          <div class="btn-group p-mb-3">
            <button
              pButton
              pRipple
              type="button"
              label="Titulares"
              class="p-button-rounded p-button-outlined active"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              label="Suplentes"
              class="p-button-rounded p-button-outlined"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              label="Invitados"
              class="p-button-rounded p-button-outlined"
            ></button>
          </div>
          <p>N° de participantes: <strong>50</strong></p>
        </div>

        <app-comite-member-table></app-comite-member-table>

        <!-- btn enviar -->
        <div class="p-grid">
          <div class="p-col-12 p-text-center">
            <button pButton pRipple type="button" label="Enviar"></button>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
