.box {
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  color: #2e4259;
  border: none;
  cursor: pointer;

  &-detalle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 28px;
      font-weight: 600;
    }

    i {
      font-size: 45px;
    }
  }

  &-info {
    p {
      font-size: 12.6px;
      font-weight: 500;
      text-align: left;
    }
  }

  &:focus {
    border: aliceblue;
    outline: aliceblue;
  }
}

.graphic-box {
  background: #ffffff;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0px;

  p {
    font-size: 13px;
    font-weight: 500;
  }
}

body .ui-table .ui-table-tbody > tr > td {
  border: 0 none;
}

.ui-datatable tbody td {
  border: 0 none;
}

.pie-legend {
  &-info {
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 100%);
    padding: 4px 20px;
    border-radius: 5px;
    margin: 5px 0 16px;
    cursor: pointer;

    p:first-of-type {
      font-size: 28px;
      font-weight: 600;
      padding: 0 10px 12px;
    }

    p:nth-of-type(2) {
      font-size: 13px;
      font-weight: 300;
    }
  }
}


