<p-tabView styleClass="p-tab-style-3">
    <div class="comite_number">
        Comité: C2031
    </div>
    <p-tabPanel [selected]="true" header="Información básica">
        <div class="tab-content">
            <app-information-basic></app-information-basic>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Detalles del Comité">
        <div class="tab-content">
            <app-comite-detail></app-comite-detail>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Miembros del comité">
        <div class="tab-content">
            <div class="btn-group p-mb-3">
                <button
                    (click)="member = 'asistent'"
                    pButton pRipple type="button"
                    label="Titulares"
                    class="p-button-rounded p-button-outlined active">
                </button>
                <button
                    (click)="member = 'suplent'"
                    pButton
                    pRipple
                    type="button"
                    label="Suplentes"
                    class="p-button-rounded p-button-outlined">
                </button>
                <button
                    (click)="member = 'invitado'"
                    pButton
                    pRipple
                    type="button"
                    label="Invitados"
                    class="p-button-rounded p-button-outlined">
                </button>
                <button
                    (click)="member = 'asistent'"
                    pButton
                    pRipple
                    type="button"
                    label="Aistente de Secretaria"
                    class="p-button-rounded p-button-outlined">
                </button>
            </div>
            <app-members-comite [member]="member"></app-members-comite>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Documentos">
        <div class="tab-content">
            <app-documents></app-documents>
        </div>
    </p-tabPanel>
</p-tabView>