<div>
    <div class="title">Mantenimiento</div>

    <div class="card">
        <p-tabView styleClass="p-tab-style-1">
            <!-- Tab Usuarios -->
            <p-tabPanel header="Usuarios">
                <div class="tab-content">

                    <!-- table -->

                    <!-- <app-cese-masivo></app-cese-masivo> -->

                    <app-users-table></app-users-table>

                </div>
            </p-tabPanel>

            <!-- Tab Roles -->
            <p-tabPanel header="Roles">
                <div class="tab-content">
                    <div class="tab-content-label">
                        <label>
                            <strong>Roles</strong>
                        </label>
                    </div>

                    <!-- table -->
                    <table class="p-table-mood">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 18rem;"></th>
                                <th scope="col" style="text-align: center;">Rol</th>
                                <th scope="col" style="text-align: right;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <div class="margin-mood"></div>
                            <tr>
                                <td style="width: 18rem;"></td>
                                <td data-table-header="Nombres y apellidos" style="text-align: center;">Administrador
                                </td>
                                <td data-table-header=" " style="text-align: right;">
                                    <button pButton pRipple type="button" icon="pi pi-ellipsis-v"
                                        class="p-button-rounded p-button-info p-button-text icon-size"
                                        styleClass="icon-size" (click)="menu.toggle($event)"></button>
                                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                                </td>
                            </tr>

                            <div class="margin-mood"></div>
                            <tr>
                                <td style="width: 18rem;"></td>
                                <td data-table-header="Nombres y apellidos" style="text-align: center;">Invitado</td>
                                <td data-table-header=" " style="text-align: right;">
                                    <button pButton pRipple type="button" icon="pi pi-ellipsis-v"
                                        class="p-button-rounded p-button-info p-button-text icon-size"
                                        styleClass="icon-size" (click)="menu.toggle($event)"></button>
                                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                                </td>
                            </tr>

                            <div class="margin-mood"></div>
                        </tbody>
                    </table>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>