<div>
  <div class="title">
    <p>Inicio</p>
    <p>Filtrar por:</p>
  </div>

  <div class="card">    
    <p-tabView styleClass="p-tab-style-1">
      <!-- TAB-1 TODOS -->
      <p-tabPanel header="Todos">
        <!-- Form -->
        <div class="p-grid p-style-input-fill p-mt-4 p-mb-4">
          <!-- Buscar nombre -->
          <div class="p-col-12 p-md-6 p-lg-3">
            <span class="p-float-label p-input-icon-right">
              <i class="pi pi-search"></i>
              <input type="text" pInputText />
              <label for="inputtext">Buscar nombre</label>
            </span>
          </div>

          <!-- calendario DESDE -->
          <div class="p-col-12 p-md-6 p-lg-3">
            <span class="p-float-label">
              <p-calendar
                [(ngModel)]="date3"
                [locale]="es"
                [showIcon]="true"
                inputId="icon"
              ></p-calendar>
              <label for="inputtext">Desde</label>
            </span>
          </div>

          <!-- calendario HASTA -->
          <div class="p-col-12 p-md-6 p-lg-3">
            <span class="p-float-label">
              <p-calendar
                [(ngModel)]="date4"
                [locale]="es"
                [showIcon]="true"
                inputId="icon"
              ></p-calendar>
              <label for="inputtext">Hasta</label>
            </span>
          </div>

          <div class="p-col-12 p-md-6 p-lg-3 p-text-right">
            <p-button label="Exportar" icon="pi pi-cloud-download"></p-button>
          </div>
        </div>

        <!-- INDICADORES -->
        <div class="p-grid">
          <!-- Comités activos -->
          <div class="p-col-12 p-md-6 p-lg-3">
            <div class="box">
              <div class="box-detalle">
                <p>16</p>
                <i class="material-icons yellow"> bar_chart </i>
              </div>
              <div class="box-info">
                <p>Comités activos</p>
                <p>
                  <i class="material-icons"> arrow_upward </i>
                  13.8%
                </p>
              </div>
            </div>
          </div>

          <!-- Comités en configuración -->
          <div class="p-col-12 p-md-6 p-lg-3">
            <div class="box">
              <div class="box-detalle">
                <p>3</p>
                <i class="material-icons blue"> bar_chart </i>
              </div>
              <div class="box-info">
                <p>Comités activos</p>
                <p class="red">
                  <i class="material-icons"> arrow_downward </i>
                  0.8%
                </p>
              </div>
            </div>
          </div>

          <!-- Comités de baja -->
          <div class="p-col-12 p-md-6 p-lg-3">
            <div class="box">
              <div class="box-detalle">
                <p>5</p>
                <i class="material-icons dark"> bar_chart </i>
              </div>
              <div class="box-info">
                <p>Comités activos</p>
                <p>
                  <i class="material-icons"> arrow_upward </i>
                  10.8%
                </p>
              </div>
            </div>
          </div>

          <!-- Total de comités -->
          <div class="p-col-12 p-md-6 p-lg-3">
            <div class="box">
              <div class="box-detalle">
                <p>24</p>
                <i class="material-icons gray"> bar_chart </i>
              </div>
              <div class="box-info">
                <p>Comités activos</p>
                <p>
                  <i class="material-icons"> arrow_upward </i>
                  13.8%
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Grafico -->
        <div class="p-grid graphic-box">
          <p>Reporte (Últimos 6 meses)</p>
          <div class="p-col-12">
            <app-bar></app-bar>
          </div>
        </div>
      </p-tabPanel>

      <!-- TAB-2 PAÍS -->
      <p-tabPanel header="País">
        <div class="p-grid">
          <!-- Comités activos -->
          <div class="p-col-12 p-md-6 p-lg-3">
            <div class="box">
              <div class="box-detalle">
                <p>16</p>
                <i class="material-icons yellow"> bar_chart </i>
              </div>
              <div class="box-info">
                <p>Comités activos</p>
                <p>
                  <i class="material-icons"> arrow_upward </i>
                  13.8%
                </p>
              </div>
            </div>
          </div>

          <!-- Comités en configuración -->
          <div class="p-col-12 p-md-6 p-lg-3">
            <div class="box">
              <div class="box-detalle">
                <p>3</p>
                <i class="material-icons blue"> bar_chart </i>
              </div>
              <div class="box-info">
                <p>Comités activos</p>
                <p class="red">
                  <i class="material-icons"> arrow_downward </i>
                  0.8%
                </p>
              </div>
            </div>
          </div>

          <!-- Comités de baja -->
          <div class="p-col-12 p-md-6 p-lg-3">
            <div class="box">
              <div class="box-detalle">
                <p>5</p>
                <i class="material-icons dark"> bar_chart </i>
              </div>
              <div class="box-info">
                <p>Comités activos</p>
                <p>
                  <i class="material-icons"> arrow_upward </i>
                  10.8%
                </p>
              </div>
            </div>
          </div>

          <!-- Total de comités -->
          <div class="p-col-12 p-md-6 p-lg-3">
            <div class="box">
              <div class="box-detalle">
                <p>24</p>
                <i class="material-icons gray"> bar_chart </i>
              </div>
              <div class="box-info">
                <p>Comités activos</p>
                <p>
                  <i class="material-icons"> arrow_upward </i>
                  13.8%
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Grafico -->
        <div class="p-grid graphic-box">
          <p>Reporte (Últimos 6 meses)</p>
          <div class="p-col-12">
           
          </div>
        </div>
      </p-tabPanel>

      <!-- TAB-3 EMPRESA -->
      <p-tabPanel header="Empresa"></p-tabPanel>

      <!-- TAB-4 RESPONSABLE -->
      <p-tabPanel header="Responsable"></p-tabPanel>

      <!-- TAB-5 DIRECCIÓN DEL COMITÉ -->
      <p-tabPanel header="Dirección del Comité"></p-tabPanel>

      <!-- TAB-5 FRECUENCIA -->
      <p-tabPanel header="Frecuencia"></p-tabPanel>
    </p-tabView>
  </div>
</div>
