<div>
    <div class="title">
        <p>Inicio</p>
        <p>Filtrar por:</p>
    </div>

    <div class="card">
        <p-tabView (onChange)="onTabClicked($event)" styleClass="p-tab-style-1">
            <!-- TAB-1 TODOS -->
            <p-tabPanel header="Todos">
                <!-- Form -->
                <div class="p-grid p-style-input-fill p-d-flex p-ai-end p-mb-4">

                    <!-- calendario DESDE -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <span class="p-float-label">
                            <p-calendar (onSelect)="onKeydown($event,0)" [(ngModel)]="date3" [locale]="es" [showIcon]="true" inputId="icon"></p-calendar>
                            <label for="inputtext">Desde</label>
                        </span>
                    </div>

                    <!-- calendario HASTA -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <span class="p-float-label">
                            <p-calendar (onSelect)="onKeydown($event,0)" [(ngModel)]="date4" [locale]="es" [showIcon]="true" inputId="icon"></p-calendar>
                            <label for="inputtext">Hasta</label>
                        </span>
                    </div>
                </div>

                <!-- INDICADORES -->
                <div class="p-grid">
                    <!-- Comités activos -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" (click)="goToTableActive()">
                            <div class="box-detalle">
                                <p>{{ val1 }}</p>
                                <i class="material-icons yellow"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Comités activos</p>
                            </div>
                        </div>
                    </div>

                    <!-- Comités en configuración -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" routerLink="/manager/all-report">
                            <div class="box-detalle">
                                <p>{{ val2 }}</p>
                                <i class="material-icons blue"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Comités en configuración</p>
                            </div>
                        </div>
                    </div>

                    <!-- Comités de baja -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" routerLink="/manager/all-report">
                            <div class="box-detalle">
                                <p>{{ val3 }}</p>
                                <i class="material-icons dark"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Comités de baja</p>
                            </div>
                        </div>
                    </div>

                    <!-- Total de comités -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" routerLink="/manager/total-report">
                            <div class="box-detalle">
                                <p>{{ val4 }}</p>
                                <i class="material-icons gray"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Total de comités</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Grafico -->
                <div class="p-grid graphic-box">
                    <p>{{ message }}</p>
                    <div class="p-col-12">
                        <app-bar-todos></app-bar-todos>
                    </div>
                </div>
            </p-tabPanel>

            <!-- TAB-2 PAÍS -->
            <p-tabPanel header="País">
                <!-- Form -->
                <div class="p-grid p-style-input-fill p-d-flex p-ai-end p-mb-4">
                    <!-- Buscar país -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <p-dropdown (onChange)="onKeydown($event,1)" [options]="countries" [(ngModel)]="selectedCountry" optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true" placeholder="Buscar país">
                            <ng-template pTemplate="selectedItem">
                                <div class="country-item country-item-value" *ngIf="selectedCountry">
                                    <img style="width: 20px;" [src]="selectedCountry.sigla" />
                                    <div>{{ selectedCountry.nombre }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-country pTemplate="item">
                                <div class="country-item">
                                    <img [src]="country.sigla" />
                                    <div>{{ country.nombre }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <!-- calendario DESDE -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <span class="p-float-label">
                            <p-calendar (onSelect)="onKeydown($event,1)" [(ngModel)]="date3" [locale]="es" [showIcon]="true" inputId="icon"></p-calendar>
                            <label for="inputtext">Desde</label>
                        </span>
                    </div>

                    <!-- calendario HASTA -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <span class="p-float-label">
                            <p-calendar (onSelect)="onKeydown($event,1)" [(ngModel)]="date4" [locale]="es" [showIcon]="true" inputId="icon"></p-calendar>
                            <label for="inputtext">Hasta</label>
                        </span>
                    </div>
                </div>

                <!-- INDICADORES -->
                <div class="p-grid">
                    <!-- Comités activos -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" (click)="goToTableActivePais()">
                            <div class="box-detalle">
                                <p>{{ val1 }}</p>
                                <i class="material-icons yellow"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Comités activos</p>
                            </div>
                        </div>
                    </div>

                    <!-- Comités en configuración -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" routerLink="/manager/pais-report">
                            <div class="box-detalle">
                                <p>{{ val2 }}</p>
                                <i class="material-icons blue"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Comités en configuración</p>
                            </div>
                        </div>
                    </div>

                    <!-- Comités de baja -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" routerLink="/manager/pais-report">
                            <div class="box-detalle">
                                <p>{{ val3 }}</p>
                                <i class="material-icons dark"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Comités de baja</p>
                            </div>
                        </div>
                    </div>

                    <!-- Total de comités -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" routerLink="/manager/total-report">
                            <div class="box-detalle">
                                <p>{{ val4 }}</p>
                                <i class="material-icons gray"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Total de comités</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Grafico -->
                <div class="p-grid graphic-box">
                    <p>{{ message }}</p>
                    <div class="p-col-12">
                        <app-bar-pais></app-bar-pais>
                    </div>
                </div>
            </p-tabPanel>

            <!-- TAB-3 EMPRESA -->
            <p-tabPanel header="Empresa y Dirección">
                <!-- Form -->
                <div class="p-grid p-style-input-fill p-d-flex p-ai-end p-mb-4">
                    <!-- Buscar empresa -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <p-dropdown (onChange)="onKeydown($event,2)" [options]="cities" [(ngModel)]="selectedCity1" placeholder="Buscar empresa" optionLabel="nombre" [showClear]="true"></p-dropdown>
                    </div>

                    <!-- Buscar direccion del comite -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <span class="p-float-label p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input (keydown)="onKeydown($event,2)" type="text" pInputText [(ngModel)]="textFilterDE"/>
                            <label for="inputtext">Buscar Dirección del Comité</label>
                        </span>
                    </div>

                    <!-- calendario DESDE -->
                    <div class="p-col-12 p-md-6 p-lg-2">
                        <span class="p-float-label">
                            <p-calendar (onSelect)="onKeydown($event,2)" [(ngModel)]="date3" [locale]="es" [showIcon]="true" inputId="icon"></p-calendar>
                            <label for="inputtext">Desde</label>
                        </span>
                    </div>

                    <!-- calendario HASTA -->
                    <div class="p-col-12 p-md-6 p-lg-2">
                        <span class="p-float-label">
                            <p-calendar (onSelect)="onKeydown($event,2)" [(ngModel)]="date4" [locale]="es" [showIcon]="true" inputId="icon"></p-calendar>
                            <label for="inputtext">Hasta</label>
                        </span>
                    </div>
                </div>

                <!-- INDICADORES -->
                <div class="p-grid">
                    <!-- Comités activos -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" (click)="goToTableActiveEmpresa()">
                            <div class="box-detalle">
                                <p>{{ val1 }}</p>
                                <i class="material-icons yellow"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Comités activos</p>
                            </div>
                        </div>
                    </div>

                    <!-- Comités en configuración -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" routerLink="/manager/empresa-direction-report">
                            <div class="box-detalle">
                                <p>{{ val2 }}</p>
                                <i class="material-icons blue"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Comités en configuración</p>
                            </div>
                        </div>
                    </div>

                    <!-- Comités de baja -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" routerLink="/manager/empresa-direction-report">
                            <div class="box-detalle">
                                <p>{{ val3 }}</p>
                                <i class="material-icons dark"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Comités de baja</p>
                            </div>
                        </div>
                    </div>

                    <!-- Total de comités -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" routerLink="/manager/total-report">
                            <div class="box-detalle">
                                <p>{{ val4 }}</p>
                                <i class="material-icons gray"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Total de comités</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Grafico -->
                <div class="p-grid graphic-box">
                    <p>{{ message }}</p>
                    <div class="p-col-12">
                        <app-bar-empresa-direccion></app-bar-empresa-direccion>
                    </div>
                </div>
            </p-tabPanel>

            <!-- TAB-4 RESPONSABLE -->
            <p-tabPanel header="Secretaria de Comité">
                <!-- Form -->
                <div class="p-grid p-style-input-fill p-d-flex p-ai-end p-mb-4">
                    <!-- Buscar secretaria de comité -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <span class="p-float-label p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <p-autoComplete
                                [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="textFilterSE"
                                (completeMethod)="searchUser($event)"
                                [suggestions]="filteredCountriesSingle"
                                field="nombre"
                                [minLength]="1"
                                emptyMessage="No se han encontrado resultados"
                                placeholder="Ingrese al menos 1 caracter...">
                            </p-autoComplete>
                        </span>
                    </div>

                    <!-- calendario DESDE -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <span class="p-float-label">
                            <p-calendar (onSelect)="onKeydown($event,3)" [(ngModel)]="date3" [locale]="es" [showIcon]="true" inputId="icon"></p-calendar>
                            <label for="inputtext">Desde</label>
                        </span>
                    </div>

                    <!-- calendario HASTA -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <span class="p-float-label">
                            <p-calendar (onSelect)="onKeydown($event,3)" [(ngModel)]="date4" [locale]="es" [showIcon]="true" inputId="icon"></p-calendar>
                            <label for="inputtext">Hasta</label>
                        </span>
                    </div>
                </div>

                <!-- INDICADORES -->
                <div class="p-grid">
                    <!-- Comités activos -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" (click)="goToTableActiveSecretaria()">
                            <div class="box-detalle">
                                <p>{{ val1 }}</p>
                                <i class="material-icons yellow"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Comités activos</p>
                            </div>
                        </div>
                    </div>

                    <!-- Comités en configuración -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" routerLink="/manager/secretaria-report">
                            <div class="box-detalle">
                                <p>{{ val2 }}</p>
                                <i class="material-icons blue"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Comités en configuración</p>
                            </div>
                        </div>
                    </div>

                    <!-- Comités de baja -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" routerLink="/manager/secretaria-report">
                            <div class="box-detalle">
                                <p>{{ val3 }}</p>
                                <i class="material-icons dark"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Comités de baja</p>
                            </div>
                        </div>
                    </div>

                    <!-- Total de comités -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <div class="box" routerLink="/manager/total-report">
                            <div class="box-detalle">
                                <p>{{ val4 }}</p>
                                <i class="material-icons gray"> bar_chart </i>
                            </div>
                            <div class="box-info">
                                <p>Total de comités</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Grafico -->
                <div class="p-grid graphic-box">
                    <p>{{ message }}</p>
                    <div class="p-col-12">
                        <app-bar-secretaria></app-bar-secretaria>
                    </div>
                </div>
            </p-tabPanel>

            <!-- TAB-5 FRECUENCIA -->
            <p-tabPanel header="Frecuencia">
                <!-- Form -->
                <div class="p-grid p-style-input-fill p-d-flex p-ai-end p-mb-4">
                    <!-- Buscar secretaria de comité -->

                    <!-- calendario DESDE -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <span class="p-float-label">
                            <p-calendar (onSelect)="onKeydown($event,4)" [(ngModel)]="date3" [locale]="es" [showIcon]="true" inputId="icon"></p-calendar>
                            <label for="inputtext">Desde</label>
                        </span>
                    </div>

                    <!-- calendario HASTA -->
                    <div class="p-col-12 p-md-6 p-lg-3">
                        <span class="p-float-label">
                            <p-calendar (onSelect)="onKeydown($event,4)" [(ngModel)]="date4" [locale]="es" [showIcon]="true" inputId="icon"></p-calendar>
                            <label for="inputtext">Hasta</label>
                        </span>
                    </div>
                </div>

                <!-- INDICADORES -->
                <div class="p-grid">
                    <!-- Semanal -->
                    <div class="p-col-12 p-md-6 p-lg-2">
                        <div class="box" (click)="goToTableActiveFrecuencia()">
                            <div class="box-detalle">
                                <p>{{ val11 }}</p>
                                <i class="material-icons purple"> data_saver_off </i>
                            </div>
                            <div class="box-info">
                                <p>Semanal</p>
                            </div>
                        </div>
                    </div>

                    <!-- Quincenal -->
                    <div class="p-col-12 p-md-6 p-lg-2">
                        <div class="box" routerLink="/manager/frecuencia-report">
                            <div class="box-detalle">
                                <p>{{ val22 }}</p>
                                <i class="material-icons darkblue"> data_saver_off </i>
                            </div>
                            <div class="box-info">
                                <p>Quincenal</p>
                            </div>
                        </div>
                    </div>

                    <!-- Trimestral -->
                    <div class="p-col-12 p-md-6 p-lg-2">
                        <div class="box" routerLink="/manager/frecuencia-report">
                            <div class="box-detalle">
                                <p>{{ val33 }}</p>
                                <i class="material-icons green"> data_saver_off </i>
                            </div>
                            <div class="box-info">
                                <p>Trimestral</p>
                            </div>
                        </div>
                    </div>

                    <!-- Mensual -->
                    <div class="p-col-12 p-md-6 p-lg-2">
                        <div class="box" routerLink="/manager/frecuencia-report">
                            <div class="box-detalle">
                                <p>{{ val44 }}</p>
                                <i class="material-icons lightblue"> data_saver_off </i>
                            </div>
                            <div class="box-info">
                                <p>Mensual</p>
                            </div>
                        </div>
                    </div>

                    <!-- Semanal -->
                    <div class="p-col-12 p-md-6 p-lg-2">
                        <div class="box" routerLink="/manager/frecuencia-report">
                            <div class="box-detalle">
                                <p>{{ val55 }}</p>
                                <i class="material-icons limon"> data_saver_off </i>
                            </div>
                            <div class="box-info">
                                <p>Semanal</p>
                            </div>
                        </div>
                    </div>

                    <!-- Anual -->
                    <div class="p-col-12 p-md-6 p-lg-2">
                        <div class="box" routerLink="/manager/frecuencia-report">
                            <div class="box-detalle">
                                <p>{{ val66 }}</p>
                                <i class="material-icons oranges"> data_saver_off </i>
                            </div>
                            <div class="box-info">
                                <p>Anual</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Grafico -->
                <div class="p-grid graphic-box">
                    <p>{{ message }}</p>
                    <div class="p-col-12">
                        <app-donut></app-donut>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
