<p class="title">Comités Miembro</p><br>
<div class="p-fluid p-formgrid p-grid p-ai-end p-style-input-fill">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label p-input-icon-right">
            <input id="firstname" type="text" pInputText>
            <i class="pi pi-search"></i>
            <label>Nombre del Comité</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label p-input-icon-right">
            <input id="firstname" type="text" pInputText>
            <i class="pi pi-search"></i>
            <label>Código del comité</label>
        </span>
    </div>
</div>

<div class="p-card p-p-4">
    <div class="p-grid">
        <div class="p-col-12 p-md-4">
            <p-card styleClass="style-card-comite">
                <ng-template pTemplate="header">
                    <div class="p-px-3 p-pt-3 fw-300">
                        <p class="title fz-14 white">Comité Operativo de Contrataciones</p><br>

                        <div class="p-d-flex p-jc-between p-mb-3">
                            <div>
                                <p> Cód: C2031</p>
                                <p> Dirección General</p>
                            </div>
                            <!-- <div class="number-meet p-text-center">
                                <span class="fw-500" style="font-size: 40px; line-height: 0;">15</span>
                                <p class="fs-italic fz-11">reuniones</p>
                            </div> -->
                        </div>
                    </div>
                </ng-template>

                <div class="p-mb-4">
                    <p class="fw-300 p-mb-1">Creado por:</p>
                    <div class="p-d-flex p-ai-center">
                        <p-avatar image="assets/images/img11.jpg" styleClass="p-mr-2" shape="circle"></p-avatar>
                        <span class="fw-500 p-mr-5 line-h">Simy Benzaquen</span>
                        <img [style.width]="'25px'" src="assets/images/flag/PE.svg" alt="">
                    </div>
                    <p class="fs-italic fw-300">Fecha de creación: 11/12/2020</p>
                </div>

                <ng-template pTemplate="footer">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <div>
                            <i class="pi pi-circle-on p-mr-2 fz-8" [style.color]="'var(--green)'"></i>
                            <span>Nuevo</span>
                        </div>
                        <button
                            (click)="showConfidentiality()"
                            pButton pRipple type="button" icon="pi"
                            class="p-button-rounded wh-color icon-header-size p-button-text">
                            <span class="material-icons-outlined white">east</span>
                        </button>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="p-col-12 p-md-4">
            <p-card styleClass="style-card-comite">
                <ng-template pTemplate="header">
                    <div class="p-px-3 p-pt-3 fw-300">
                        <p class="title fz-14 white">Comité de Dirección</p><br>
                        <div class="p-d-flex p-jc-between p-mb-3">
                            <div>
                                <p> Cód: C2031</p>
                                <p> Dirección General</p>
                            </div>
                            <div class="number-meet p-text-center">
                                <span class="fw-500" style="font-size: 40px; line-height: 0;">15</span>
                                <p class="fs-italic fz-11">reuniones</p>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <div class="p-mb-4">
                    <p class="fw-300 p-mb-1">Creado por:</p>
                    <div class="p-d-flex p-ai-center">
                        <p-avatar image="assets/images/img11.jpg" styleClass="p-mr-2" shape="circle"></p-avatar>
                        <span class="fw-500 p-mr-5 line-h">Simy Benzaquen</span>
                        <img [style.width]="'25px'" src="assets/images/flag/PE.svg" alt="">
                    </div>
                    <p class="fs-italic fw-300">Fecha de creación: 11/12/2020</p>
                </div>

                <ng-template pTemplate="footer">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <div>
                            <i class="pi pi-circle-on p-mr-2 fz-8" [style.color]="'var(--info)'"></i>
                            <span>Activo</span>
                        </div>
                        <button
                            pButton
                            pRipple
                            type="button"
                            icon="pi"
                            routerLink="/member/comite"
                            class="p-button-rounded wh-color icon-header-size p-button-text">
                            <span class="material-icons-outlined white">east</span>
                        </button>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="p-col-12 p-md-4">
            <p-card styleClass="style-card-comite">
                <ng-template pTemplate="header">
                    <div class="p-px-3 p-pt-3 fw-300">
                        <p class="title fz-14 white">Comité de Dirección</p><br>
                        <div class="p-d-flex p-jc-between p-mb-3">
                            <div>
                                <p> Cód: C2031</p>
                                <p> Dirección General</p>
                            </div>
                            <div class="number-meet p-text-center">
                                <span class="fw-500" style="font-size: 40px; line-height: 0;">15</span>
                                <p class="fs-italic fz-11">reuniones</p>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <div class="p-mb-4">
                    <p class="fw-300 p-mb-1">Creado por:</p>
                    <div class="p-d-flex p-ai-center">
                        <p-avatar image="assets/images/img11.jpg" styleClass="p-mr-2" shape="circle"></p-avatar>
                        <span class="fw-500 p-mr-5 line-h">Simy Benzaquen</span>
                        <img [style.width]="'25px'" src="assets/images/flag/PE.svg" alt="">
                    </div>
                    <p class="fs-italic fw-300">Fecha de creación: 11/12/2020</p>
                </div>

                <ng-template pTemplate="footer">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <div>
                            <i class="pi pi-circle-on p-mr-2 fz-8" [style.color]="'var(--red)'"></i>
                            <span>De baja</span>
                        </div>
                        <button pButton pRipple type="button" icon="pi"
                            class="p-button-rounded wh-color icon-header-size p-button-text">
                            <span class="material-icons-outlined white">east</span>
                        </button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>