<div class="p-fluid p-formgrid p-grid form-input-sm p-mb-3">
    <div class="p-field p-col-12 p-md-6">
        <label>Nombres y apellidos</label>
        <input pInputText type="text">
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label>Correo electrónico</label>
        <input pInputText type="text">
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label>Celular</label>
        <input pInputText type="text">
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label>DNI</label>
        <input pInputText type="text">
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label>Empresa</label>
        <input pInputText type="text">
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label>Rol</label>
        <input pInputText type="text">
    </div>
</div>
<div class="p-d-flex p-jc-center w-100">
    <button pButton type="button" label="Guardar"></button>
</div>