<p-table [value]="listaHistoricoComites" [scrollable]="true" scrollHeight="200px">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width: 30%" />
            <col style="width: 30%" />
            <col style="width: 70%" />
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Fecha de Registro</th>
            <th>Hora de Registro</th>
            <th>Detalles</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-history>
        <tr>
            <td>{{history.fechaRegistro |date:"dd-MM-yyyy" }}</td>
            <td>{{history.fechaRegistro | date:"shortTime"}}</td>
            <td>{{history.descripcion}}</td>
        </tr>
    </ng-template>
</p-table>
