<p-table [value]="data"  [scrollable]="true" scrollHeight="200px">
    <ng-template pTemplate="header">
        <tr>
            <th [style.width]="'20%'">Fecha de Registro</th>
            <th [style.width]="'20%'">Hora de Registro</th>
            <th>Detalles</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-history>
        <tr>
            <td>{{history.fechaResgistro}}</td>
            <td>{{history.horaRegistro}}</td>
            <td>{{history.detalles}}</td>
        </tr>
    </ng-template>
</p-table>