
.icon-admin_panel_settings:before { content: '\e801'; } /* '' */
.icon-inventory:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e804'; } /* '' */
.icon-account_circle:before { content: '\e805'; } /* '' */
.icon-people_outline:before { content: '\e806'; } /* '' */