<div class="p-card br-05">
  <p-table [columns]="cols" [value]="products" styleClass="style-table-direccion" [paginator]="true" [rows]="3"
    [showCurrentPageReport]="true" currentPageReportTemplate="{first} to {last} of {totalRecords}">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col [style.width]="16 + '%'" />
        <col [style.width]="16 + '%'" />
        <col [style.width]="12 + '%'" />
        <col [style.width]="14 + '%'" />
        <col [style.width]="10 + '%'" />
        <col [style.width]="12 + '%'" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>
          <div class="p-d-flex p-ai-center">
            <p-avatar image="assets/images/img-perfil-test.jpg" styleClass="p-mr-2" shape="circle">
            </p-avatar>
            <span>Rocio del valle</span>
          </div>
        </td>
        <td>luiscalidda.com</td>
        <td>Voto</td>
        <td>Calidda</td>
        <td>
          <div class="p-d-flex p-ai-center p-jc-around">
            <!-- variables:  --red --green --info  -->
            <i [style.color]="'var(--green)'" class="pi pi-circle-on" style="font-size: 10px;"></i>
            Activo
          </div>
        </td>
        <td>
          <div class="p-d-flex p-ai-center p-jc-end">
            <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
            <button pButton pRipple type="button" icon="pi pi-pencil"
              class="p-button-rounded p-button-info p-button-text icon-table-size"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>