
.icon-account_circle:before { content: '\e800'; } /* '' */
.icon-admin_settings:before { content: '\e801'; } /* '' */
.icon-back:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e804'; } /* '' */
.icon-export:before { content: '\e805'; } /* '' */
.icon-inventory:before { content: '\e806'; } /* '' */
.icon-people_outline:before { content: '\e807'; } /* '' */
.icon-barchart:before { content: '\e808'; } /* '' */