:host::ng-deep.p-dropdown {
    width: 14rem;
}

.country-item-value {
    img.flag {
        width: 17px;
    }
}

.country-item {
    display: flex;
    align-items: center;
    img {
        width: 20px;
        margin-right: 10px;
    }
}