<form [formGroup]="empresaForm" autocomplete="offs">
    <div class="p-fluid p-formgrid p-grid form-input-sm p-mb-3">
        <div class="p-field p-col-12 p-md-6">
            <label for="nombre" [ngClass]="{ 'is-invalid-text': submitted && g.nombre.errors }">Nombre</label>
            <input type="text" pInputText formControlName="nombre" [ngClass]="{ 'is-invalid-input': submitted && g.nombre.errors }" oninput="this.value=this.value.trim()==''?'':this.value" />
            <div *ngIf="submitted && g.nombre.errors != null">
                <span class="p-error" *ngIf="g.nombre.errors.minlength">El nombre debe contener al menos un carácter.<br></span>
                <span class="p-error" *ngIf="g.nombre.errors.required">El nombre es requerido.<br></span>
            </div>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label for="paisId" [ngClass]="{ 'is-invalid-text': submitted && g.paisId.errors }">País</label>
            <p-dropdown [options]="countries" formControlName="paisId" [(ngModel)]="selectedCountry" [ngClass]="{ 'p-error': submitted && g.paisId.errors }" optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="false">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value">
                        <img [src]="selectedCountry.sigla" alt="pais" />
                        <span style="line-height: 0; margin-bottom: 5px;">{{ selectedCountry.nombre }}</span>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item country-item-value">
                        <img [src]="country.sigla" alt="pais" />
                        <span style="line-height: 0; margin-bottom: 5px;">{{ country.nombre }}</span>
                    </div>
                </ng-template>
            </p-dropdown>
            <div *ngIf="submitted && g.paisId.errors != null">
                <span class="p-error" *ngIf="g.paisId.errors.required">El país es requerido.<br></span>
            </div>
        </div>
    </div>
    
    <div class="p-d-flex p-jc-center w-100">
        <button pButton type="button" (click)="send()" label="Crear"></button>
    </div>
</form>