<div>
  <div class="title"><strong>Inicio</strong></div>

  <div class="card">
    <p-tabView styleClass="p-tab-style-1">
      <p-tabPanel header="Todos">
        <div class="p-grid">
        <!-- Comités activos -->
          <div class="p-col-12 p-md-6 p-lg-3">
            <div class="box">
              <div class="box-detalle">
                <p>16</p>
                <i class="material-icons yellow"> bar_chart </i>
              </div>
              <div class="box-info">
                <p>Comités activos</p>
                <p>
                  <i class="material-icons"> arrow_upward </i>
                  13.8%
                </p>
              </div>
            </div>
          </div>

          <!-- Comités en configuración -->
          <div class="p-col-12 p-md-6 p-lg-3">
            <div class="box">
                <div class="box-detalle">
                  <p>3</p>
                  <i class="material-icons blue"> bar_chart </i>
                </div>
                <div class="box-info">
                  <p>Comités activos</p>
                  <p class="red">
                    <i class="material-icons"> arrow_downward </i>                    
                    0.8%
                  </p>
                </div>
              </div>
          </div>

          <!-- Comités de baja -->
          <div class="p-col-12 p-md-6 p-lg-3">
            <div class="box">
                <div class="box-detalle">
                  <p>5</p>
                  <i class="material-icons dark"> bar_chart </i>
                </div>
                <div class="box-info">
                  <p>Comités activos</p>
                  <p>
                    <i class="material-icons"> arrow_upward </i>
                    10.8%
                  </p>
                </div>
              </div>
          </div>

          <!-- Total de comités -->
          <div class="p-col-12 p-md-6 p-lg-3">
            <div class="box">
                <div class="box-detalle">
                  <p>24</p>
                  <i class="material-icons gray"> bar_chart </i>
                </div>
                <div class="box-info">
                  <p>Comités activos</p>
                  <p>
                    <i class="material-icons"> arrow_upward </i>
                    13.8%
                  </p>
                </div>
              </div>
          </div>
        </div>

        <!-- Grafico -->
        <div class="p-grid graphic-box">
            <p>Reporte (Últimos 6 meses)</p>
            <div class="p-col-12">
                <p-chart type="bar" [data]="basicData" [options]="basicOptions" [height]="100"></p-chart>
            </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="País"> 
        <div class="p-grid">
            <!-- Comités activos -->
              <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                  <div class="box-detalle">
                    <p>16</p>
                    <i class="material-icons yellow"> bar_chart </i>
                  </div>
                  <div class="box-info">
                    <p>Comités activos</p>
                    <p>
                      <i class="material-icons"> arrow_upward </i>
                      13.8%
                    </p>
                  </div>
                </div>
              </div>
    
              <!-- Comités en configuración -->
              <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    <div class="box-detalle">
                      <p>3</p>
                      <i class="material-icons blue"> bar_chart </i>
                    </div>
                    <div class="box-info">
                      <p>Comités activos</p>
                      <p class="red">
                        <i class="material-icons"> arrow_downward </i>                    
                        0.8%
                      </p>
                    </div>
                  </div>
              </div>
    
              <!-- Comités de baja -->
              <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    <div class="box-detalle">
                      <p>5</p>
                      <i class="material-icons dark"> bar_chart </i>
                    </div>
                    <div class="box-info">
                      <p>Comités activos</p>
                      <p>
                        <i class="material-icons"> arrow_upward </i>
                        10.8%
                      </p>
                    </div>
                  </div>
              </div>
    
              <!-- Total de comités -->
              <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    <div class="box-detalle">
                      <p>24</p>
                      <i class="material-icons gray"> bar_chart </i>
                    </div>
                    <div class="box-info">
                      <p>Comités activos</p>
                      <p>
                        <i class="material-icons"> arrow_upward </i>
                        13.8%
                      </p>
                    </div>
                  </div>
              </div>
            </div>
    
            <!-- Grafico -->
            <div class="p-grid graphic-box">
                <p>Reporte (Últimos 6 meses)</p>
                <div class="p-col-12">
                    <p-chart type="bar" [data]="basicData" [options]="basicOptions" [height]="100"></p-chart>
                </div>
            </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
