<div class="tab-pd">
    <div class="tab-content-label">
        <label> Documentos </label>

        <p-button (click)="showImportDocument()" label="Importar documentos" icon="pi pi-plus-circle"></p-button>
    </div>
    <p class="tab-content-p">Filtrar por</p>
    <!-- form -->
    <form>
        <div class="p-grid p-style-input-fill p-d-flex p-ai-end p-mt-3">
            <!-- Buscar por nombre -->
            <div class="p-col-12 p-md-6 p-lg-3">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText styleClass="style-input-1" />
                    <label for="inputtext">Buscar por nombre</label>
                </span>
            </div>

            <!-- Tipo -->
            <div class="p-col-12 p-md-6 p-lg-3">
                <p-dropdown [options]="tipo" placeholder="Tipo" optionLabel="name" [showClear]="true"></p-dropdown>
            </div>

            <!-- calendario DESDE -->
            <div class="p-col-12 p-md-6 p-lg-3">
                <span class="p-float-label">
                    <p-calendar [(ngModel)]="date3" [locale]="es" [showIcon]="true" inputId="icon"></p-calendar>
                    <label for="inputtext">Desde</label>
                </span>
            </div>

            <!-- calendario HASTA -->
            <div class="p-col-12 p-md-6 p-lg-3">
                <span class="p-float-label">
                    <p-calendar [(ngModel)]="date4" [locale]="es" [showIcon]="true" inputId="icon"></p-calendar>
                    <label for="inputtext">Hasta</label>
                </span>
            </div>
        </div>
    </form>
</div>

<!-- tablee -->
<div class="p-card p-px-3 br-05">
    <p-table [columns]="cols2" [value]="products2" styleClass="style-table-direccion" [paginator]="true" [rows]="3"
        [showCurrentPageReport]="true" currentPageReportTemplate="{first} - {last} of {totalRecords}">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col [style.width]="16.6 + '%'" />
                <col [style.width]="16.6 + '%'" />
                <col [style.width]="16.6 + '%'" />
                <col [style.width]="16.6 + '%'" />
                <col [style.width]="16.6 + '%'" />
                <col [style.width]="16.6 + '%'" />
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr class="p-text-left">
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td class="p-text-left">20/05/2021</td>
                <td class="p-text-left">3:00pm</td>
                <td class="p-text-left">Miembro</td>
                <td class="p-text-left">Comité de administración</td>
                <td>
                    <div class="p-d-flex p-ai-center">
                        <!-- variables:  --red --green --info  -->
                        <i class="pi pi-circle-on icon-mood p-mr-2" [style.color]="'var(--green)'"></i>
                        Activo
                    </div>
                </td>
                <td>
                    <div class="p-d-flex p-ai-center p-jc-center p-jc-lg-end">
                        <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>

                        <button
                            (click)="showMaximizableDialog()"
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-eye"
                            class="p-button-rounded p-button-info p-button-text icon-table-size">
                        </button>

                        <button
                            (click)="showConfirmation()"
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-info p-button-text icon-table-size">
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!--Modal Visor pdf -->
<p-dialog
    header="Documento De Confidencialidad Miembro"
    [(visible)]="displayMaximizable"
    [modal]="true"
    [style]="{width: '70%'}"
    [maximizable]="false"
    [baseZIndex]="10000"
    [draggable]="false"
    styleClass="ovf-inherit"
    [resizable]="false">
    
    <ng-template pTemplate="body">

        <app-view-file [currentpdf]="document"></app-view-file>

    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton (click)="displayMaximizable=false" label="Aceptar" styleClass="p-button-text"></button>
    </ng-template>
</p-dialog>

<!-- Dialog confirmacón -->
<p-dialog
    [(visible)]="displayModal"
    [modal]="true"
    [style]="{ width: '400px' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    [closable]="false"
    styleClass="style-dialog-confirmation">
    
    <div class="dialog-content">
        <i class="material-icons red">error_outline</i>
        <h3>Confirmación</h3>
        <p class="p-m-0">
            ¿Esta seguro de realizar esta operación?
        </p>
    </div>
    <ng-template pTemplate="footer">
        <button (click)="displayModal = false" pButton label="Si"></button>
        <button class="stylebtn" (click)="displayModal = false" pButton label="No"></button>
    </ng-template>
</p-dialog>