<div class="tab-pd">
    <div class="tab-content-label">
        <label> Dirección del comité </label>
        <!-- boton CREAR DIRECCION DEL COMITE -->
        <p-button (click)="showCreateDireccion()" label="Crear dirección del comité" icon="pi pi-plus-circle"></p-button>
    </div>
    <p class="tab-content-p">Filtrar por</p>
    <!-- form -->
    <form>
        <div class="p-grid p-style-input-fill p-mt-3">
            <!-- Nombre de dirección del comité -->
            <div class="p-col-12 p-md-6 p-lg-6">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText styleClass="style-input-1" />
                    <label for="inputtext">Nombre de dirección del comité</label>
                </span>
            </div>
        </div>
    </form>
</div>
<!-- Table -->
<div class="p-card p-px-3 br-05">
  <p-table
    [columns]="cols"
    [value]="products"
    styleClass="style-table-direccion"
    [paginator]="true"
    [rows]="3"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} to {last} of {totalRecords}"
  >
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col [style.width]="33 + '%'" />
        <col [style.width]="33 + '%'" />
        <col [style.width]="33 + '%'" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th></th>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td></td>
        <td>Dirección general</td>
        <td>
          <div>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-info p-button-text icon-table-size"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi icon-edit"
              class="p-button-rounded p-button-info p-button-text icon-table-size"
              (click)="showEditDireccion()"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
